<template>
  <!-- Widgets -->
  <div class="footer-widgets mt-5">
    <div class="col-12 p-5">
      <p class="ml-5 text-p">{{ $t('home.footer-widgets') }}</p>

      <div class="d-flex justify-content-center">
        <a href="https://www.iec.cat/" target="_blank">
          <img src="@/assets/logos/IEC.png" alt="IEC" class="img-ichn">
        </a>
  
        <a href="https://agricultura.gencat.cat/ca/inici/" target="_blank">
          <img src="@/assets/logos/generalitat-Dep-Climàtica.png" alt="Gencat" class="img-ichn">
        </a>
      </div>
      
    </div>
    <div class="col-4"></div>
    <div class="col-4"></div>
  </div>
  <!-- Footer -->
  <nav class="navbar footer"  ref="footer">
    <div class="container-fluid mx-4 px-4">
      <div>
        <a href="https://blogs.iec.cat/ichn/" target="_blank" class="navbar-logo-link">
          <h1 class="navbar-logo">ICHN</h1>
        </a>
      </div>
      
      <div class="contact-info">
        <p v-if="!istiny" class="contact-info-text">Carrer del Carme, 47 · 08001 Barcelona | Tel.: 933 248 582 | a/e: <a href="mailto:ichn@iec.cat" class="text-white">ichn@iec.cat</a> | a/i: </p><a href="https://ichn.iec.cat" class="text-white" target="_blank">https://ichn.iec.cat</a>
      </div>
      <div class="social-icons">
        <a href="https://www.instagram.com/ichn_oficial/" target="_blank" class="ml-2" title="Instagram">
          <font-awesome-icon :icon="['fab', 'instagram']" size="xl" style="color: white;" />
        </a>
        <a href="https://twitter.com/ICHN_IEC" target="_blank" class="ml-2" title="Twitter">
          <font-awesome-icon :icon="['fab', 'x-twitter']" size="xl" style="color: white;" />
        </a>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      pageWidth: window.innerWidth,
      istiny: false,
    }
  },
  mounted() {
    this.handleResize(); // Initially set this.istiny
    window.addEventListener('resize', this.handleResize);

  },
  methods: {
    handleResize() {
      this.pageWidth = window.innerWidth;
      this.istiny = this.pageWidth < 992;
    },
  },
  destroyed() {
    window.removeEventListener('resize', this.handleResize);
  },
  watch: {
    pageWidth(newWidth) {
      this.istiny = newWidth < 992;
    }
  },
}
</script>

<style scoped>

.footer-widgets {
  background-color: #ECECEC;
  padding-bottom: 2%;
  padding-top: 2%;
  text-align: left;
}

.text-p{
  text-align: left;
}
.img-ichn{
  height: 80px;
}

.navbar.footer {
  background: rgba(60, 101, 62, 0.9);
}


.navbar-logo-link {
  text-decoration: none;
}

.navbar-logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding-right: 20px;
}

.contact-info {
  color: white;
  text-align: center;
}

.contact-info-text {
  margin: 0;
  display: inline-block;
}

.ml-2>*:not(:last-child) {
  margin-right: 10px;
}

.social-icons a {
  margin-right: 10px;
}
</style>
