<!-- LoadingOverlay.vue -->
<template>
    <div v-if="isLoading" class="loading-overlay">
        <div class="modal-container">
            <div class="loader">
                <font-awesome-icon :icon="['fas', 'magnifying-glass']" beat class="font-awesome-2xl"
                    style="color: #3c653e;" />
                <br />
                <p>{{ $t("species.loading") }}</p>

            </div>
        </div>
    </div>
</template>
  
<script>
export default {
    props: {
        isLoading: Boolean,
    },
};
</script>
  
<style scoped>
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 25%;
}

.loader {
    color: #000;
    /* Loader content color */
    text-align: center;
    margin: 10px;
    
}
.font-awesome-2xl {
	font-size: 7em;
	margin-bottom: 25px;
}
</style>
  