<!-- This component contains the navigation bar and the header images.  -->
<template>
  <div class="container-fluid p-0 position-relative">
    <div class="row">
      <div class="col">
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" :class="{ 'scrolled': isScrolled }">

          <!-- Brand Logo -->
          <router-link class="navbar-brand px-4 my-2" to="/"><font-awesome-icon :icon="['fas', 'house-flag']" size="xl"
              :style="{ color: iconColor }" id="homeicon" /></router-link>

          <!-- Toggle button for collapsed navbar -->
          <button class="navbar-toggler toggle-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Collapsible Navbar -->
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <!-- Left side links -->
            <div class="navbar-nav">
              <router-link class="nav-item nav-link px-3 my-2" to="/" @click="closeDropdown">{{ $t('route.home')
                }}</router-link>
              <router-link class="nav-item nav-link px-3 my-2" to="/about" @click="closeDropdown">{{ $t('route.about')
                }}</router-link>
              <router-link :to="{ name: 'species' }" class="nav-item nav-link px-3 my-2"
                :class="{ 'active': $route.fullPath === '/species' || $route.fullPath.startsWith('/species/') }"
                @click="closeDropdown">
                {{ $t('route.species') }}
              </router-link>
              <router-link class="nav-item nav-link px-3 my-2" to="/statistics" @click="closeDropdown">{{
          $t('route.statistical') }}</router-link>
              <router-link class="nav-item nav-link px-3 my-2" to="/legislation" @click="closeDropdown">{{ $t('route.legislation')
                }}</router-link>
              <router-link class="nav-item nav-link px-3 my-2" to="/contact" @click="closeDropdown">{{
          $t('route.contact') }}</router-link>

            </div>
            <!-- Languages (aligned to the right) -->
            <div class="ml-auto" style="margin-right: 10px;" v-if="istiny">
              <div class="navbar-nav">
                <a v-for="language in languages" :key="language.code" class="nav-item nav-link"
                  :class="{ 'active': language.code === selectedLanguage }"
                  @click="changeLanguageAndCloseDropdown(language.code)" style="cursor: pointer;">
                  {{ language.code }}
                </a>
              </div>
            </div>
          </div>
          <!-- Languages (aligned to the right) -->
          <div class="ml-auto" style="margin-right: 10px;" v-if="!istiny">
            <div class="navbar-nav">
              <a v-for="language in languages" :key="language.code" class="nav-item nav-link"
                :class="{ 'active': language.code === selectedLanguage }" @click="changeLanguage(language.code)">
                {{ language.code }}
              </a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div v-if="isHomeSelected" id="headerCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div v-for="(image, index) in carouselImages" :key="index"
          :class="['carousel-item', { 'active': index === 0 }]">
          <div v-if="image.src === 'pitroig.jpg' || image.src === 'blauet.jpg' || image.src === 'common-frog.jpg' || image.src === 'a-fox.jpg' || image.src === 'great-reed-warbler.jpg'" 
            class="custom-carousel-item">
            <img class="custom-item-1 h-auto" v-if="image.src === 'great-reed-warbler.jpg'" :src="require(`@/assets/header_img/${image.src}`)" :alt="'Slide ' + (index + 1)">

            <img class="custom-item h-auto" v-else :src="require(`@/assets/header_img/${image.src}`)" :alt="'Slide ' + (index + 1)">
          </div>
          <img class="d-block w-100" v-else :src="require(`@/assets/header_img/${image.src}`)" :alt="'Slide ' + (index + 1)">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#headerCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#headerCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <div class="title-container">
        <h1 class="image-caption fw-bold display-4">{{ $t('header') }}</h1>
      </div>

    </div>

    <div v-if="isUsSelected" class="header-image-container">
      <div class="title-container">
        <h1 class="image-caption fw-bold display-4">{{ $t('route.about') }}</h1>
      </div>
      <img class="header-image" :src="require('@/assets/header_img/pitroig.jpg')" :alt="'Static Image'"
        style="position: relative; transform: translateY(25%);">
    </div>

    <div v-if="isSpeciesSelected" class="header-image-container">
      <div class="title-container">
        <h1 class="image-caption fw-bold display-4">{{ $t('route.species') }}</h1>
      </div>
      <img class="header-image" src="@/assets/header_img/conifer.jpg" alt="Static Image">
    </div>
    <div v-if="isSpeDetailsSelected" class="header-image-container">
      <div class="title-container">
        <h1 class="image-caption fw-bold display-4">{{ $t('route.specieDetails') }}</h1>
      </div>
      <img class="header-image" src="@/assets/header_img/blood-milk-mushroom.jpg" alt="Static Image">
    </div>
    <div v-if="isDataSelected" class="header-image-container">
      <div class="title-container">
        <h1 class="image-caption fw-bold display-4">{{ $t('route.statistical') }}</h1>
      </div>
      <img class="header-image" src="@/assets/header_img/blauet.jpg" alt="Static Image"
      style="position: relative; transform: translateY(18%);">
    </div>
    <div v-if="isNewsSelected" class="header-image-container">
      <div class="title-container">
        <h1 class="image-caption fw-bold display-4">{{ $t('route.news') }}</h1>
      </div>
      <img class="header-image" src="@/assets/header_img/mouse-gafa.jpg" alt="Static Image">
    </div>
    <div v-if="isLegislationSelected" class="header-image-container">
      <div class="title-container">
        <h1 class="image-caption fw-bold display-4">{{ $t('route.legislation') }}</h1>
      </div>
      <img class="header-image" src="@/assets/header_img/mouse-gafa.jpg" alt="Static Image">
    </div>
    <div v-if="isContactSelected" class="header-image-container">
      <div class="title-container">
        <h1 class="image-caption fw-bold display-4">{{ $t('route.contact') }}</h1>
      </div>
      <img class="header-image" src="@/assets/header_img/a-fox.jpg" alt="Static Image"
      style="position: relative; transform: translateY(10%);">
    </div>
  </div>

</template>

<script>
export default {
  data() {
    return {
      languages: [
        { code: 'CA' },
        { code: 'ES' },
        { code: 'EN' }
      ],
      carouselImages: [
        { src: "pitroig.jpg" },
        { src: "blauet.jpg" },
        { src: "blood-milk-mushroom.jpg" },
        { src: "mouse-gafa.jpg" },
        { src: "great-reed-warbler.jpg" },
        { src: "common-frog.jpg" },
        { src: "conifer.jpg" },
        { src: "mushroom.jpg" },
        { src: "western-honey-bee.jpg" },
        { src: "plain.jpg" },
        { src: "a-fox.jpg" },
        { src: "pasture.jpg" }
      ],
      selectedLanguage: 'CA',
      pageWidth: window.innerWidth,
      istiny: false,
      isScrolled: false,
      isHomeSelected: false,
      isUsSelected: false,
      isSpeciesSelected: false,
      isSpeDetailsSelected: false,
      isDataSelected: false,
      isNewsSelected: false,
      isContactSelected: false,
      isLegislationSelected: false,
      iconColor: 'white'
    };
  },
  methods: {
    changeLanguage(language) {
      this.$i18n.locale = language;
      this.selectedLanguage = language;
      this.updatePageTitle();
    },

    updatePageTitle() {
      const currentRouteName = this.$route.name;
      document.title = this.getPageTitle(currentRouteName);
    },

    getPageTitle(routeName) {
      return `${this.$t('baseTitle')} - ${this.$t(`route.${routeName}`)}`;
    },
    handleResize() {
      this.pageWidth = window.innerWidth;
      if (this.pageWidth < 900) {
        this.istiny = true;
      }
    },
    handleScroll() {
      this.isScrolled = window.scrollY > 50;
    },
    changeLanguageAndCloseDropdown(languageCode) {
      this.changeLanguage(languageCode);
      this.closeDropdown();
    },
    closeDropdown() {
      // Close the dropdown programmatically
      document.getElementById('navbarNav').classList.remove('show');
    }
  },
  mounted() {
    window.addEventListener('resize', this.handleResize);
    this.istiny = this.pageWidth < 992;
  },
  created() {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed() {
    window.removeEventListener('resize', this.handleResize);
    window.removeEventListener('scroll', this.handleScroll);
  },
  watch: {
    $route(to) {
      this.updatePageTitle();
      this.isHomeSelected = to.path === '/';
      this.isUsSelected = to.path === '/about';
      this.isSpeciesSelected = to.path === '/species';
      this.isSpeDetailsSelected = to.path.startsWith('/species/');
      this.isDataSelected = to.path === '/statistics';
      this.isNewsSelected = to.path === '/news';
      this.isLegislationSelected = to.path === '/legislation';
      this.isContactSelected = to.path === '/contact';
      if (to.path === '/') {
        this.iconColor = 'black';
      } else {
        this.iconColor = 'white';
      }
    },
    pageWidth(newWidth) {
      this.istiny = newWidth < 992;
    }
  },
};
</script>


<style scoped>
.container-fluid {
  overflow-x: hidden;
  margin-bottom: 0;
}

nav {
  background: rgba(60, 101, 62, 0.7);
  transition: all 0.8s ease;
}

nav a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

#homeicon {
  transition: color 0.3s ease;
}

#homeicon:hover {
  color: rgb(100, 95, 95) !important
}


.nav_cataleg.router-link-exact-active {
  color: white;
  text-decoration-line: underline;
}

.active {
  color: black !important;
}

nav a.router-link-exact-active {
  color: black;
}



.toggle-button {
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Styles for the header images */
.carousel-inner {
  width: 100%;
}

.carousel-item img {
  object-fit: cover;
  height: 50vh;
  width: 100%;
}

.custom-carousel-item {
  height: 50vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-item{
  position: relative; 
  transform: translateY(16%);
  height: auto;
}

.custom-item-1{
  position: relative; 
  transform: translateY(-10%);
  height: auto;
}

.title-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}

.image-caption {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Crimson Pro', serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
  display: block;
}

.carousel-control-prev {
  left: -100px;
}

.carousel-control-next {
  right: -100px;
}

.header-image-container {
  height: 30vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image {
  width: 100%;
  height: auto;
  /* object-fit: cover;
  object-position: center bottom; */
  /* Adjust the position to center horizontally and align to the bottom */
}


/* Styles for responsive title */
@media (max-width: 992px) {
  .image-caption {
    font-size: 2rem;
    /* Adjust font size for smaller screens */
  }

  nav {
    background: rgba(60, 101, 62, 0.9);
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: block;
    /* Ensure carousel control buttons are visible */
  }

  .carousel-control-prev {
    left: 1px;
    /* Adjust left position */
  }

  .carousel-control-next {
    right: 1px;
    /* Adjust right position */
  }


}

@media (min-width: 992px) {
  .image-carousel {
    display: none;
  }

  .scrolled {
    height: 60px;
    background: rgba(60, 101, 62, 0.9);
  }

  /* New styles for the language links */
  .navbar-nav {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .navbar-nav .nav-item:not(:last-child) {
    margin-right: 10px;
  }

  .ml-auto .language-links {
    display: flex;
    align-items: center;
  }

  .ml-auto .language-links .nav-link {
    margin-left: 10px;
  }

  .navbar-collapse {
    justify-content: space-between;
  }
}
</style>
