<template>
  <nav aria-label="Page navigation bio" class="container text-center justify-content-center">
    <div class="row justify-content-md-center">
      <div class="col-3">
        <div class="d-flex align-items-center">
          <label for="itemsPerPageSelect"  class="label-with-margin">{{ $t('species.numberphrase') }}</label>
          <div>
            <select v-model="localStorageItemsPerPage" @change="setItemsPerPage(localStorageItemsPerPage)"
              class="form-select form-select-sm" id="itemsPerPageSelect">
              <option v-for="option in itemsPerPageOptions" :key="option" :value="option">{{ option }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-md-auto">
        <ul class="pagination pagination-sm">
          <li class="page-item">
            <a class="page-link" aria-label="Previous" @click="goToFirstPage" :class="{ 'disabled': currentPage === 1 }">
              <span aria-hidden="true">&lt;&lt;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" aria-label="Previous" @click="previousPage" :class="{ 'disabled': currentPage === 1 }">
              <span aria-hidden="true">&lt;</span>
            </a>
          </li>
          <li class="page-item" v-for="pageNumber in displayedPages" :key="pageNumber">
            <a class="page-link" @click="goToPage(pageNumber)"
              :class="{ 'notcurrent': currentPage !== pageNumber, 'current': currentPage === pageNumber }">{{ pageNumber
              }}
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" aria-label="Next" @click="nextPage" :class="{ 'disabled': currentPage === totalPages }">
              <span aria-hidden="true">&gt;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" aria-label="Next" @click="goToLastPage" :class="{ 'disabled': currentPage === totalPages }">
              <span aria-hidden="true">&gt;&gt</span>
            </a>
          </li>
        </ul>
      </div>


      <div class="col-3" style="margin-left: 2%;">
        <div class="input-group input-group-sm">
          <input v-model="jumpToPage" type="number" min="1" :max="totalPages" class="form-control form-control-sm jump-input"
            aria-label="Pag number" aria-describedby="button-addon2" @keydown.enter="jumpToPageAction">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2"
            @click="jumpToPageAction">{{$t("species.jump") }}</button>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import { ref } from 'vue';
export default {
  name: "Pagination",
  props: {
    currentPage: {
      type: Number,
      required: true,
    },
    totalPages: {
      type: Number,
      required: true,
    },
    displayRange: {
      type: Number,
      default: 5, // Adjust this to change the number of displayed pages
    },
  },
  setup(props, { emit }) {

    const itemsPerPageOptions = [5, 10, 15, 25, 50];
    const localStorageItemsPerPage = ref(parseInt(localStorage.getItem('itemPerPage')) || 25);

    return {
      localStorageItemsPerPage,
      itemsPerPageOptions,
      jumpToPage: "",
    };
  },
  computed: {
    displayedPages() {
      const start = Math.max(1, this.currentPage - Math.floor(this.displayRange / 2));
      const end = Math.min(this.totalPages, start + this.displayRange - 1);

      return Array.from({ length: end - start + 1 }, (_, index) => start + index);
    },
  },
  methods: {
    setItemsPerPage(value) {
      this.localStorageItemsPerPage = value;
      this.$emit('pageChange', 1);
      this.$emit('itPerPage', this.localStorageItemsPerPage);

    },
    previousPage() {
      if (this.currentPage > 1) {
        this.$emit("pageChange", this.currentPage - 1);
      }
    },
    nextPage() {
      if (this.currentPage < this.totalPages) {
        this.$emit("pageChange", this.currentPage + 1);
      }
    },
    goToPage(pageNumber) {
      if (this.currentPage !== pageNumber) {
        this.$emit("pageChange", pageNumber);
      }
    },
    goToFirstPage() {
      if (this.currentPage !== 1) {
        this.$emit("pageChange", 1);
      }
    },
    goToLastPage() {
      if (this.currentPage !== this.totalPages) {
        this.$emit("pageChange", this.totalPages);
      }
    },
    jumpToPageAction() {
      const page = parseInt(this.jumpToPage, 10);
      if (!isNaN(page) && page >= 1 && page <= this.totalPages) {
        this.$emit("pageChange", page);
      } else if (!isNaN(page) && page >= 1 && page > this.totalPages) {
        this.$emit("pageChange", this.totalPages);
      }
      this.jumpToPage = "";
    },
  },
};
</script>

<style scoped>
.pagination {
  display: flex;
  justify-content: center;
}

.row {
  width: 100%;
}


/* .jump-input {
  max-width: 80px;
} */

.jump-input:focus, select:focus{
  border-color: #3C653E;
  box-shadow: 0 0 0 0.1rem rgba(60, 101, 62, 0.5);
}



#jump {
  border-radius: 0 5px 5px 0;
}

.page-link {
  cursor: pointer;
  color: #3C653E;
}

.btn-outline-secondary{
  color: #3C653E;
  border-color: lightgray;

}
.btn-outline-secondary:hover{
  background-color: rgb(238, 236, 236);
  color: rgb(48, 47, 47);
}

.page-link.disabled {
  background-color: rgb(233, 231, 231);
  pointer-events: none; /* Disable pointer events to make it non-clickable */
  color: grey;
}

.page-link:hover {
  background-color: rgb(238, 236, 236);
  color: rgb(48, 47, 47);
}

.current {
  color: #3C653E;
  background-color: rgb(233, 231, 231);
}

.notcurrent {
  color: lightgray;
}

.label-with-margin {
  margin-right: 8px; /* You can adjust this value to add more or less space */
}
</style>
