<template>
  <div style="position: relative;">
    <div id="chartKing"></div>
  </div>
</template>

<script>
import Plotly from 'plotly.js-dist';
import { onMounted, watch } from 'vue';

export default {
  name: 'PieChart',
  props: {
    data: Object,
  },
  setup(props) {
    // Función para dibujar el gráfico
    const pieChart = (countSpecies) => {
      const kingdoms = Object.keys(countSpecies);
      const quantities = Object.values(countSpecies);

      const data = [
        {
          values: quantities,
          labels: kingdoms,
          type: 'pie',
          hole: 0.5,
          textinfo: 'label+value',
          textposition: 'outside',
          automargin: true,
          outsidetextfont: {
            color: '#000',
            size: 14,
          },
          hoverinfo: 'percent',
        },
      ];

      const layout = {
        height: 550,
        width: 900,
        legend: {
          orientation: 'h',
          x: 0,
          y: -0.1,
          font: {
            family: 'sans-serif',
            size: 16,
            color: '#333'
          },
        },
        margin: { l: 5, r: 5, t: 10, b: 5 },
      };

      const options = {
        responsive: true,
      };

      Plotly.newPlot('chartKing', data, layout, options);
    };

    // Llamamos a la función pieChart cuando los datos estén disponibles
    onMounted(() => {
      if (props.data !== null && props.data !== undefined) {
        pieChart(props.data);
      }
    });

    watch(
      () => props.data,
      (newVal, oldVal) => {
        if (newVal !== null && newVal !== undefined && newVal !== oldVal) {
          pieChart(newVal);
        }
      },
      { deep: true }
    );

    return {};
  },
};
</script>

<style scoped>
#chartKing {
  /* width: 100%; */
  height: 550px;
}
</style>