<template>
<div class="container">
    <div class="about">
      <!-- Firt row -->
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12 align-left">
          <p><strong><a class="text-links" target="_blank" href="https://ichn.iec.cat/">{{ $t('about.link') }}</a></strong> 
            {{ $t('about.paragraph1') }} 
            <strong><a class="text-links" target="_blank" href="https://www.iec.cat/">{{ $t('about.link1') }}</a></strong>
          </p><br>
          <p>
            {{ $t('about.paragraph2-1') }} <strong><a class="text-links" target="_blank" href="https://scb.iec.cat/">{{ $t('about.link2') }}</a></strong>
            {{ $t('about.paragraph2-2') }} <strong><a class="text-links" target="_blank" href="https://biogenoma.cat">{{ $t('about.link3') }}</a></strong>
            {{ $t('about.paragraph2-3') }}
          </p><br>
          <p>
            {{ $t('about.paragraph3') }}
          </p><br>
          
        </div>

        <div class="col-md-6 col-sm-12 ">
          <img class="img-catalonia" src="@/assets/about_img/cbc.png" alt="ICHN">
        </div>

        <div class="align-left">
          <p>
            {{ $t('about.paragraph4') }}
          </p><br>
          <p>
            {{ $t('about.paragraph5') }}
          </p>
        </div>
          
      </div>

      <!-- Second row -->
      <!-- <div class="row align-left mb-5">
        <div class="col-md-6 col-sm-12">
          <h3>Visió</h3>
          <p>
            Enim blandit volutpat maecenas volutpat blandit. Massa placerat duis ultricies lacus sed turpis tincidunt id aliquet. 
            Vulputate enim nulla aliquet porttitor lacus luctus accumsan. Ultrices in iaculis nunc sed.
          </p>
        </div>

        <div class="col-md-6 col-sm-12">
          <h3>Missió</h3>
          <p>
            Enim blandit volutpat maecenas volutpat blandit. Massa placerat duis ultricies lacus sed turpis tincidunt id aliquet. 
            Vulputate enim nulla aliquet porttitor lacus luctus accumsan. Ultrices in iaculis nunc sed.
          </p>
        </div>
      </div> -->

      <!-- Third row -->
      <!-- <div class="row align-left mb-5">
        <div class="col-12">
         
          <div class="accordion intro-text" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h3>Llistat de centres col·laboradors</h3>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-6">
                      <a href="https://ichn.iec.cat/" target="_blank">
                        <img class="img-collaborators" src="@/assets/logos/ICHNlogoColorCentrat.png" alt="ICHN Logo" height="60%">
                      </a>
                    </div>
                    <div class="col-6">
                      <a href="https://agricultura.gencat.cat/ca/inici/" target="_blank">
                        <img class="img-collaborators" src="@/assets/logos/generalitat-Dep-Climàtica.png" alt="Generalitat de catalunya">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <!-- Grups -->
      <!-- <div class="row mb-5">
        <h3 class="align-center mb-3">Grups de treball</h3>
        <p class="align-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Cursus in hac habitasse platea dictumst. Diam maecenas ultricies mi eget mauris.</p>
        <div class="col-md-4 col-sm-12">
          <img src="@/assets/about_img/investigacion-cientifica.png" alt="">
          <p>Recull de dades</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <img src="@/assets/about_img/documento.png" alt="">
          <p>Creació de la web</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <img src="@/assets/about_img/divulgacion.png" alt="">
          <p>Divulgació</p>
        </div>
      </div> -->

      <!--  -->
      <!-- <div class="row align-left mb-5">
        <div class="col-12">
          <h3 class="align-center mb-3">Grup de coordinació amb els seus membres</h3>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          </ul>
        </div>
      </div> -->

      <!-- ICHN -->
      <div class="row mt-5">
        <div class="col-12">
          <a href="https://ichn.iec.cat/" target="_blank">
            <img class="img-ichn" src="@/assets/logos/ICHNlogoColorCentrat.png" alt="ICHN Logo" height="60%">
          </a>
        </div>
      </div>
    </div>
  
</div>
</template>


<style scoped>
.about {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-size:large;
}

.align-left {
  text-align: left;
}

.text-links {
  color: rgb(18, 17, 17) !important;
  text-decoration: none !important;
}

.align-center {
  text-align:center;
}
.img-catalonia{
  /* height: 90%; */
  text-align:center;
  max-width: 90%;
}

.img-collaborators{
  max-width: 80%;
}

/* Style when the accordion is collapsed */
.accordion-button:not(.collapsed) {
  background-color: #9DB29F ;
  color: black;
  border-color: #FFFFFF;
	box-shadow: 0 0 0 0.2rem rgba(255, 255, 255);
}

/* Styling when the accordion is open */
.accordion-button.collapsed {
  background-color: #9DB29F;
  border-color: white;
	box-shadow: 0 0 0 0.2rem white;
}

/* styles on mouseover */
.accordion-button:hover {
  background-color: #B6C5B7; 
  color: black;
  border-color: #3C653E;
	box-shadow: 0 0 0 0.2rem rgba(60, 101, 62, 0.5);
}

.img-ichn{
  max-width: 80%;
  height: 100px;
}

</style>