<template>
<div class="container">
  <div class="row">
    <div class="contact align-left">

      <div class="row">
        <div class="col-12">
          <h2 >{{ $t('contact.title') }}</h2>
          <p>{{ $t('contact.description') }}</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12">
          <form class="row g-3 my-3">
            <div class="col-md-6">
              <label class="form-label">Nom</label>
              <input type="text" class="form-control" id="">
            </div>
            <div class="col-md-6">
              <label class="form-label">Cognoms</label>
              <input type="text" class="form-control" id="">
            </div>
            <div class="col-12">
              <label class="form-label">Adreça de correu electrònic</label>
              <input type="email" class="form-control" id="" placeholder="">
            </div>
            <div class="col-12">
              <label class="form-label">Titol del missatge</label>
              <input type="text" class="form-control" id="" placeholder="">
            </div>
            <div class="col-12">
              <label class="form-label">Missatge</label>
              <textarea class="form-control" id="" placeholder=""></textarea>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-success btn-envia mt-3">Envia</button>
            </div>
          </form>
        </div>
      </div>
      

    </div>
  </div>
</div>

</template>
  
  <script>
  // @ is an alias to /src
  
  export default {
    name: 'Contact',
    components: {}
  }
  </script>

<style scoped>
.contact {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-size:large;
}
.align-left {
  text-align: left;
}

.align-center {
  text-align:center;
}

.btn-envia{
  background-color: #3C653E;
  padding: auto;
}

</style>
  