<template>
  <div class="container">
    <MaintenanceNotice />
    <div class="home">
      <!-- Firt row -->
      <div class="row mb-5">
        <div class="col-12">
          <div class="into">
            <p class="intro-text">{{ $t('home.intro1') }}</p>
            <p class="intro-text">{{ $t('home.intro2') }}</p>
          </div>
          <br />
          <div class="d-flex justify-content-center flex-wrap">
            <div class="card border-success mb-3 mr-3" style="max-width: 18rem;">
              <div class="card-header bg-transparent border-success text-body-emphasis">{{ $t('home.historyh') }}</div>
              <div class="card-body">
                <p class="card-text">{{ $t('home.history') }}</p>
              </div>
              <div class="card-footer bg-transparent border-success link text-secondary">
                {{ $t('home.historyl') }}
                <font-awesome-icon :icon="['fas', 'arrow-right']" style="color: grey;" />
              </div>
            </div>
            <div class="card border-success mb-3 mr-3" style="max-width: 18rem;">
              <div class="card-header bg-transparent border-success text-body-emphasis">{{ $t('home.datah') }}</div>
              <div class="card-body">
                <p class="card-text">{{ $t('home.data') }}</p>
              </div>
              <router-link class="nav_cataleg link" to="/statistics">
                <div class="card-footer bg-transparent border-success ">
                  {{ $t('home.datal') }}
                  <font-awesome-icon :icon="['fas', 'arrow-right']" style="color: #3c655e;" />
                </div>
              </router-link>
            </div>
            <div class="card border-success mb-3" style="max-width: 18rem;">
              <div class="card-header bg-transparent border-success text-body-emphasis">{{ $t('home.bioh') }}</div>
              <div class="card-body">
                <p class="card-text">{{ $t('home.bio') }}</p>
              </div>
              <div class="card-footer bg-transparent border-success link text-secondary">
                {{ $t('home.biol') }}
                <font-awesome-icon :icon="['fas', 'arrow-right']" style="color: grey;" />
              </div>
            </div>
          </div>
          <br />
          <div class="intro">
            <p class="intro-text">{{ $t('home.intro3') }}</p>
          </div>
          <br />
          <div class="d-flex justify-content-center">
            <div class="card border-success" style="max-width: 18rem;">
              <div class="card-body">
                <h5 class="card-title text-body-emphasis">{{ $t('home.speciesh') }}</h5>
                <p class="card-text">{{ $t('home.species') }}</p>
                <div class="number-container">
                  <!-- the variable goes here -->
                  <span class="big-number">{{ countSpecieRef }}</span>
                </div>
              </div>
              <div class="card-footer">
                <router-link class="nav_cataleg" to="/species">
                  <a href="#" class="btn btn-success">{{ $t('home.speciesl') }}</a>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import { ref, onMounted } from 'vue'
import gsap from 'gsap'
import { useDatabaseStore } from "@/stores/database";
import MaintenanceNotice from '@/components/widgets/MaintenanceNotice.vue'


export default {
  name: 'HomeView',
  components: {
    MaintenanceNotice
  },
  setup() {
    const countSpecieRef = ref(0);
    const databaseStore = useDatabaseStore();

    onMounted(async () => {
      await databaseStore.fetchSpecieCount();
      const countSpecie = databaseStore.countSpecie; // Get the actual countSpecie value

      // Animate the number from 0 to the actual value using GSAP
      gsap.to(countSpecieRef, {
        value: countSpecie,
        duration: 3, // Duration of the animation in seconds
        onUpdate: () => {
          // Update the countSpecieRef value during the animation
          countSpecieRef.value = Math.round(countSpecieRef.value);
        },
      });
    });

    return {
      countSpecieRef
    };
  }
}
</script>

<style scoped>
p {
  color: black;
  text-align: left;
  font-size:large;
}
.intro-text {
  word-wrap: break-word;
  margin: 0 auto;
}

.home {
  padding-top: 50px;
}

.intro {
  text-align: center;
  margin-bottom: 20px;
  max-width: 100%;
}

.intro p {
  margin-bottom: 10px;
  word-wrap: break-word;

}

.card-text {
  text-align: center;
}

.number-container {
  display: flex;
  justify-content: center;
}

.big-number {
  font-weight: bold;
  font-size: 2em;
}

.card {
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.link {
  text-decoration: none;
  color: black;
}


</style>
