<template>
  <div class="container legislation">
    <div class="legislation-header text-right">
      <h2>{{ $t("legislation.subtitle") }}</h2>
      <hr>
    </div>
    <div class="legislation-content ms-4">
      <div class="legislation-content-item py-2">
        <a :href="formattedLink1" target="_blank">{{ $t("legislation.link1") }}</a>
      </div>
      <div class="legislation-content-item py-2">
        <a :href="formattedLink2" target="_blank">{{ $t("legislation.link2") }}</a>
      </div>
      <div class="legislation-content-item py-2">
        <a href="http://www.rac-spa.org/annexes" target="_blank">{{ $t("legislation.link3") }}</a>
      </div>
      <div class="legislation-content-item py-2">
        <a :href="formattedLink4" target="_blank">{{ $t("legislation.link4") }}</a>
      </div>
      <div class="legislation-content-item py-2">
        <a :href="formattedLink5" target="_blank">{{ $t("legislation.link5") }}</a>
      </div>
      <div class="legislation-content-item py-2">
        <a :href="formattedLink6" target="_blank">{{ $t("legislation.link6") }}</a>
      </div>
      <div class="legislation-content-item py-2">
        <a href="https://www.boe.es/eli/es/l/2007/12/13/42/con" target="_blank">{{ $t("legislation.link7") }}</a>
      </div>
      <div class="legislation-content-item py-2">
        <a href="https://www.boe.es/eli/es/rd/2011/02/04/139/con" target="_blank">{{ $t("legislation.link8") }}</a>
      </div>
      <div class="legislation-content-item py-2">
        <a href="https://www.boe.es/eli/es/rd/2013/08/02/630/con" target="_blank">{{ $t("legislation.link9") }}</a>
      </div>
      <div class="legislation-content-item py-2">
        <a href="https://portaljuridic.gencat.cat/ca/document-del-pjur/?documentId=492668" target="_blank">{{ $t("legislation.link10") }}</a>
      </div>
      <div class="legislation-content-item py-2">
        <a href="https://portaljuridic.gencat.cat/ca/document-del-pjur/?documentId=80837" target="_blank">{{ $t("legislation.link11") }}</a>
      </div>
      <div class="legislation-content-item py-2">
        <a href="https://portaljuridic.gencat.cat/ca/document-del-pjur/?documentId=509129" target="_blank">{{ $t("legislation.link12") }}</a>
      </div>
      <div class="legislation-content-item py-2">
        <a href="https://ichn.iec.cat/wp-content/uploads/2022/12/Cataleg-fauna-amenacada.pdf" target="_blank">{{ $t("legislation.link13") }}</a>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import { computed } from "vue";
import { useI18n } from 'vue-i18n'

export default {
name: 'Legislation',
components: {},
setup() {
  const { locale } = useI18n({ useScope: "global" });

  // Computed properties para cada link
  const formattedLink1 = computed(() => {
    const links = {
      ES: "https://www.cms.int/es/node/8655",
      EN: "https://www.cms.int/en/species/appendix-i-ii-cms",
      CA: "https://www.cms.int/es/node/8655",
    };
    return links[locale.value] || links["ES"]; // Fallback al español
  });

  const formattedLink2 = computed(() => {
    const links = {
      ES: "https://www.cites.org/esp/app/appendices.php",
      EN: "https://www.cites.org/eng/app/appendices.php",
      CA: "https://www.cites.org/esp/app/appendices.php",
    };
    return links[locale.value] || links["ES"]; // Fallback al español
  });

  const formattedLink4 = computed(() => {
    const links = {
      ES: "https://eur-lex.europa.eu/eli/dir/2009/147/2019-06-26",
      EN: "https://eur-lex.europa.eu/eli/dir/2009/147/2019-06-26?eliuri=eli%3Adir%3A2009%3A147%3A2019-06-26&locale=en",
      CA: "",
    };
    return links[locale.value] || links["ES"]; // Fallback al español
  });

  const formattedLink5 = computed(() => {
    const links = {
      ES: "https://eur-lex.europa.eu/eli/dir/1992/43/2013-07-01",
      EN: "https://eur-lex.europa.eu/eli/dir/1992/43/2013-07-01?eliuri=eli%3Adir%3A1992%3A43%3A2013-07-01&locale=en",
      CA: "",
    };
    return links[locale.value] || links["ES"]; // Fallback al español
  });

  const formattedLink6 = computed(() => {
    const links = {
      ES: "https://eur-lex.europa.eu/eli/reg_impl/2016/1141/2019-08-15",
      EN: "https://eur-lex.europa.eu/eli/reg_impl/2016/1141/2019-08-15?eliuri=eli%3Areg_impl%3A2016%3A1141%3A2019-08-15&locale=en",
      CA: "",
    };
    return links[locale.value] || links["ES"]; // Fallback al español
  });
  
  return {
    formattedLink1,
    formattedLink2,
    formattedLink4,
    formattedLink5,
    formattedLink6,
  };
}
}
</script>

<style scoped>
.container {
padding-top: 20px;
transition: all 0.3s ease;
}

.legislation-header {
font-size: 24px;
font-weight: bold;
text-align: left;
padding-bottom: 20px;
}

.legislation-content {
text-align: left;
}

.legislation-content .legislation-content-item {
padding-bottom: 5px;
}

.legislation-content .legislation-content-item a {
text-decoration: none;
color: #3C653E;
}

.legislation-content .legislation-content-item a:hover {
text-decoration: underline;
}
</style>
