<template>
  <div class="container news">


    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="@/assets/news_img/Abejorro.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ $t('News.new1') }}</h5>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ $t('News.lastUpdate') }} 10 {{ $t('News.min') }}</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="@/assets/news_img/cetáceos_cataluña.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ $t('News.new2') }}</h5>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ $t('News.lastUpdate') }} 3 {{ $t('News.days') }}</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="@/assets/news_img/finca.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ $t('News.new3') }}</h5>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ $t('News.lastUpdate') }} 5 {{ $t('News.days') }}</small>
          </div>
        </div>
      </div>
    </div>

    <!-- row 2 -->

    <div class="row row-cols-1 row-cols-md-3 g-4 my-5">
      <div class="col">
        <div class="card h-100">
          <img src="@/assets/news_img/butterfly-c.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ $t('News.new4') }}</h5>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ $t('News.lastUpdate') }} 2 {{ $t('News.weeks') }}</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="@/assets/news_img/header-deltaebre.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ $t('News.new5') }}</h5>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ $t('News.lastUpdate') }} 3 {{ $t('News.weeks') }}</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="@/assets/news_img/animals-7601177_1280.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ $t('News.new6') }}</h5>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ $t('News.lastUpdate') }} 2 {{ $t('News.month') }}</small>
          </div>
        </div>
      </div>
    </div>

    
  </div>
</template>

<script>
// @ is an alias to /src
import { useRouter } from 'vue-router';

export default {
  name: 'News',
  components: {}
}
</script> 

<style scoped>
.news {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-size:large;
  text-align: left;
}

.align-center {
  text-align:center;
}

</style>
