<template>
  <div class="container">
    <loading-overlay :is-loading="isSearching" />
    <div class="row">
      <div class="col">

        <!-- -------------------------------------------------------------------- -->
        <!-- DETAILS SPECIE-->
        <!-- -------------------------------------------------------------------- -->
        <div class="col-12">
          <div v-if="data && data[0]">
            <Results :btnback="back" :result="data[0]" />
          </div>
          <div v-else>
            <img class="img-noData" src="@/assets/no-data.png" alt="No data">
            <h6 class="fw-bold">{{ $t("results.noData") }}</h6>
            <p>{{ $t("results.noDataDescription") }}</p><br>
          </div>

        </div>

        <!-- BACK -->
        <div>
          <hr class="hr" />
          <button class="btn btn-outline-success" @click="back">{{$t("species.list") }}</button>
        </div>

      </div>
    </div>
    <div class="col-md-12 mt-4">

      <div class="disclaimer">
        <h4>{{ $t("species.titledisclaimer") }}</h4>
        <p>{{ $t("species.disclaimer") }} {{ $t("species.startlinkdis") }} <a href="#" id="disclaimer"
            data-bs-toggle="modal" data-bs-target="#disclaimerModal">{{ $t("species.linkdisclaimer") }}</a> {{
              $t("species.endlinkdis") }}</p>
      </div>
    </div>
    <!-- DISCLAIMER MODAL -->
    <div class="modal fade" id="disclaimerModal" tabindex="-1" aria-labelledby="disclaimerModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="disclaimerModalLabel">{{ $t("species.titledisclaimer") }}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="max-height: 800px;  padding: 5% 10%; overflow-y: auto;">

            {{ $t("species.fulldisclaimer.intro") }} <br /><br />
            <b><u>{{ $t("species.fulldisclaimer.keypoints") }}<br /></u></b>
            <ul>
              <li><em> {{ $t("species.fulldisclaimer.experttitle") }}</em><br />
                {{ $t("species.fulldisclaimer.experttext") }}
              </li>
              <li><em>{{ $t("species.fulldisclaimer.ncbititle") }}</em> <br />
                {{ $t("species.fulldisclaimer.ncbitext") }}
              </li>
              <li><em>{{ $t("species.fulldisclaimer.gbiftitle") }}</em> <br />
                {{ $t("species.fulldisclaimer.gbiftext") }}
              </li>
              <li><em>{{ $t("species.fulldisclaimer.wikititle") }}</em><br />
                {{ $t("species.fulldisclaimer.wikitext") }}
              </li>
            </ul>

            {{ $t("species.fulldisclaimer.final1") }}<br />
            {{ $t("species.fulldisclaimer.final2") }}<br /><br />
            {{ $t("species.fulldisclaimer.final3") }}
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { toRef, onBeforeUnmount } from 'vue'
import { useRouter } from 'vue-router';
import { useI18n } from 'vue-i18n'


// Componente de los resultados
import Results from "@/components/species/Results.vue"
import LoadingOverlay from '@/components/LoadingOverlay.vue';

export default {
  name: 'specieDetails',
  components: {
    Results, LoadingOverlay
  },
  props: ['lookupValue'],
  setup(props) {
    const lookupValue = toRef(props, 'lookupValue');
    const data = JSON.parse(localStorage.getItem('selectedSpecies'));
    const router = useRouter();
    const { t, locale } = useI18n({ useScope: 'global' })
    const language = locale.value


    const back = () => {
      try {
        router.push({ name: 'species' });
        localStorage.removeItem('selectedSpecies');
      } catch (error) {
        // Manejar el error aquí
        console.error('Error navigating back:', error);
      };
    };

    // Limpia la localStorage antes de desmontar el componente
    onBeforeUnmount(() => {
      // router.push({ name: 'species' });
      // localStorage.removeItem('selectedSpecies');
    });

    return {
      lookupValue,
      data,
      language,
      back
    };
  },
  methods: {

  }
}
</script>

<style scoped>
.disclaimer {
  max-width: 100%;
  overflow-wrap: break-word;
  color: #6c757d;

}

#disclaimer {
  text-decoration: underline;
  transition: color 0.3s;
  color: #6c757d;
}

#disclaimer:hover {
  color: #0d6efd;
}

.modal-body {
  text-align: justify;
}

.img-noData {
  width: 60px;
  height: 60px;
}
</style>