<template>
	<div class="container">


		<loading-overlay :is-loading="isSearching" />

		<div class="row">
			<!-- SEARCH BAR COLUMN -->
			<div class="col-md-4">
				<div class="search-bar">
					<h2 class="fw-bold my-3">{{ $t('species.search') }}</h2>
					<hr class="hr" />

					<div class="row mx-6">
						<div class="search-form-container">
							<form class="form-inline" @submit.prevent="search" @keydown.enter.prevent="search">
								<div class="input-group mb-3">
									<input class="form-control" v-model="searchInput" type="search"
										:placeholder="$t('species.placeholder')" aria-label="Search"
										@input="fetchSpeciesSuggestions" :disabled="isLoading" />
									<span v-show="searchInput" class="clear-icon"
										@click="clearSearchInput">&times;</span>
									<div class="input-group-append">
										<button class="btn btn-outline-success" type="submit" :disabled="isLoading"
											id="button-addon2">
											{{ $t("species.button") }}
										</button>
									</div>
									<!-- Transition for alerts -->

								</div>

								<transition name="toast" class="toastAlert">
									<div class="alert alert-danger" role="alert" v-if="searchAlert">
										{{ $t("species.noInput") }}
									</div>
								</transition>
								<transition name="toast" class="toastAlert">
									<div class="alert alert-danger" role="alert" v-if="noDataAlert">
										{{ $t("species.noData") }}
									</div>
								</transition>
								<!-- Suggestions Transition -->
								<transition name="list" mode="out-in">
									<div :key="suggestions.length" class="suggestions-transition">
										<ul v-show="suggestions.length > 0 && searchInput.length > 0"
											class="list-group mt-2 suggestions-list">
											<li class="list-group-item suggestion-item"
												v-for="suggestion in suggestions" :key="suggestion"
												@click="selectSuggestion(suggestion)">
												<!-- Conditionally display different properties based on input type -->
												{{ isNumberInput ? suggestion["TaxId"] : suggestion["Espècie"] }}
												<span v-if="suggestion['Autor']">({{ suggestion['Autor'] }})</span>
											</li>
										</ul>
									</div>
								</transition>


							</form>
						</div>



					</div>

				</div>

				<div class="filters">
					<h2 class="fw-bold my-3">{{ $t('species.filter') }}</h2>
					<hr class="hr" />
					<div v-if="isLoading">
						<p>
							<font-awesome-icon :icon="['fas', 'gear']" size="2xl" spin style="color: #3c653e;" />
						</p>
						<div class="loader-text" id="loader">
							{{ $t("species.carregant") }}
						</div>
					</div>
					<div v-else>


						<div class="row mx-5">


							<!-- Kingdom Menu -->
							<div v-if="speciesFetch.length > 0">
								<div class="input-group-append ">
									<h5>{{ $t("species.regne") }}</h5>
									<hr class="hr" />
								</div>
								<div class="container-king">
									<div class="form-check form-switch custom-switch "
										v-for="kingdom in disabledItems.kingdoms" :key="kingdom">

										<input class="form-check-input " type="checkbox" role="switch"
											:id="'flexSwitchCheckDefault' + kingdom"
											:checked="selectedKingdoms.includes(kingdom || 'N/D')"
											@change="selectKingdom(kingdom)">
										<label class="form-check-label" for="flexSwitchCheckDefault">{{ kingdom ||
			'N/D'
											}}</label>
									</div>
								</div>
							</div>
							<div v-else>
								<div class="input-group-append ">
									<h5>{{ $t("species.regne") }}</h5>
									<hr class="hr" />
								</div>
								<div class="container-king">
									<div class="form-check form-switch custom-switch " v-for="kingdom in kingdoms"
										:key="kingdom">

										<input class="form-check-input " type="checkbox" role="switch"
											:id="'flexSwitchCheckDefault' + kingdom"
											:checked="selectedKingdoms.includes(kingdom || 'N/D')"
											@change="selectKingdom(kingdom)">
										<label class="form-check-label" for="flexSwitchCheckDefault">{{ kingdom || 'N/D'
											}}</label>
									</div>
								</div>
							</div>

							<div>
								<!-- Classes Menu -->
								<div v-if="speciesFetch.length > 0">
									<div class="input-group-append ">
										<h5>{{ $t("species.classe") }}</h5>
										<hr class="hr" />
									</div>

									<div class="classdrop">
										<div class="dropdown">
											<button type="button"
												class="btn btn-outline-secondary dropdown-toggle custom-multiselect"
												data-bs-toggle="dropdown" aria-expanded="false" @click.stop.prevent="">

												<span v-if="selectedClasses.length > 0" class="selected-tags">
													<span v-for="(classe, index) in selectedClasses" :key="index"
														class="badge text-bg-success me-2">
														{{ displayClassName(classe) }}
														<button v-on:click.stop="removeCategoryClass(index)"
															class="btn text-bg-success btn-sm ms-1">&times;</button>
													</span>

													<!-- Move the "Clear All" button to the end -->
													<button @click.stop="clearAllClass"
														class="btn btn-outline-danger btn-sm">{{
			$t("species.clearall") }}</button>
												</span>

												<span v-else>{{ $t("species.select") }}</span>
											</button>
											<ul class="dropdown-menu" style="max-height: 300px; overflow-y: auto;">
												<li class="dropdown-item">
													<!-- Search input inside the dropdown -->
													<input id="dropsearch" v-model="searchQueryClass" type="text"
														class="form-control mb-2"
														:placeholder="$t('species.searchClass')">

													<strong
														v-if="Object.values(filteredUniqueClassesInSpecies).flat().length === 0 && searchQueryClass">{{
			$t("species.nodataclass") }} <em>{{
			searchQueryClass }}</em></strong>
													<ul class="list-unstyled">
														<li v-for="(group, kingdom) in filteredUniqueClassesInSpecies"
															:key="kingdom">
															<strong>{{ kingdom }}</strong>
															<ul class="list-unstyled">
																<li class="mb-2" v-for="species in group"
																	:key="species.classe">
																	<input class="form-check-input cl" type="checkbox"
																		:id="`${species.kingdom}-${species.classe}`"
																		:value="species.classe"
																		@change="selectClasse(species.kingdom, species.classe)"
																		:checked="isCheckedClass(species.kingdom, species.classe)" />
																	<label :for="`${species.kingdom}-${species.classe}`"
																		class="ms-2">
																		{{ species.classe }}</label>
																</li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div v-else>
									<div class="input-group-append ">
										<h5>{{ $t("species.classe") }}</h5>
										<hr class="hr" />
									</div>

									<div class="classdrop">
										<div class="dropdown" ref="dropdown">
											<button type="button" ref="selector"
												class="btn btn-outline-secondary dropdown-toggle custom-multiselect"
												data-bs-toggle="dropdown" aria-expanded="false">

												<span v-if="selectedClasses.length > 0" class="selected-tags">
													<span v-for="(classe, index) in selectedClasses" :key="index"
														class="badge text-bg-success me-2">
														{{ displayClassName(classe) }}
														<button v-on:click.stop="removeCategoryClass(index)"
															class="btn text-bg-success btn-sm ms-1">&times;</button>
													</span>

													<!-- Move the "Clear All" button to the end -->
													<button @click.stop="clearAllClass"
														class="btn btn-outline-danger btn-sm">{{
			$t("species.clearall") }}</button>
												</span>


												<span v-else>{{ $t("species.select") }}</span>
											</button>
											<ul class="dropdown-menu" ref="dropdownMenu"
												style="max-height: 300px; overflow-y: auto;">
												<li class="dropdown-item">
													<!-- Search input inside the dropdown -->
													<input id="dropsearch" v-model="searchQueryClass" type="text"
														class="form-control mb-2"
														:placeholder="$t('species.searchClass')">

													<strong
														v-if="filteredOptionsClass.length === 0 && searchQueryClass">{{
			$t("species.nodataclass") }} <em>{{
			searchQueryClass }}</em></strong>

													<ul class="list-unstyled">
														<li v-for="group in filteredOptionsClass" :key="group.label">
															<strong>{{ group.label }}</strong>
															<ul class="list-unstyled">
																<li v-for="option in group.options" :key="option"
																	class="mb-2">
																	<input class="form-check-input cl" type="checkbox"
																		:id="`${group.label}-${option}`" :value="option"
																		@change="selectClasse(group.label, option)"
																		:checked="isCheckedClass(group.label, option)" />
																	<label :for="`${group.label}-${option}`"
																		class="ms-2">
																		{{ option || 'N/D' }}</label>
																</li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<br />
							<br />
							<div v-if="speciesFetch.length > 0">
								<div class="input-group-append">
									<h5>{{ $t("species.family") }}</h5>
									<hr class="hr" />
								</div>
								<div class="classdrop">
									<div class="dropdown">
										<button type="button"
											class="btn btn-outline-secondary dropdown-toggle custom-multiselect"
											data-bs-toggle="dropdown" aria-expanded="false" @click.prevent="">

											<span v-if="selectedFamilies.length > 0" class="selected-tags">
												<span v-for="(fam, index) in selectedFamilies" :key="index"
													class="badge text-bg-success me-2">
													{{ displayFamName(fam) }}
													<button v-on:click.stop="removeCategoryFam(index)"
														class="btn text-bg-success btn-sm ms-1">&times;</button>
												</span>

												<!-- Move the "Clear All" button to the end -->
												<button @click.stop="clearAllFam"
													class="btn btn-outline-danger btn-sm">{{
			$t("species.clearall") }}</button>
											</span>

											<span v-else>{{ $t("species.select") }}</span>
										</button>
										<ul class="dropdown-menu" style="max-height: 300px; overflow-y: auto;">
											<li class="dropdown-item">
												<!-- Search input inside the dropdown -->
												<input id="dropsearch" v-model="searchQueryFam" type="text"
													class="form-control mb-2" :placeholder="$t('species.searchFam')">

												<strong
													v-if="Object.values(filteredUniqueFamsInSpecies).flat().flat().length === 0 && searchQueryFam">{{
			$t("species.nodatafam") }} <em>{{ searchQueryFam }}</em></strong>


												<ul class="list-unstyled">
													<li v-for="(classGroup, kingdomKey) in filteredUniqueFamsInSpecies"
														:key="kingdomKey">
														<strong>{{ kingdomKey }}</strong>
														<ul class="list-unstyled">
															<li class="mb-2" v-for="(group, classeKey) in classGroup"
																:key="classeKey"><em><u>{{ classeKey }}</u></em>
															<li lass="mb-2" v-for="species in group" :key="species.fam">
																<input class="form-check-input cl" type="checkbox"
																	:id="`${species.classe}-${species.fam}`"
																	:value="species.fam"
																	@change="selectFamilia(species.classe, species.fam)"
																	:checked="isCheckedFam(species.classe, species.fam)" />
																<label :for="`${species.classe}-${species.fam}`"
																	class="ms-2">{{
			species.fam }}</label>
															</li>
													</li>
												</ul>
											</li>
										</ul>
										</li>
										</ul>
									</div>
								</div>
							</div>
							<div v-else>
								<div class="input-group-append">
									<h5>{{ $t("species.family") }}</h5>
									<hr class="hr" />
								</div>
								<div class="classdrop">
									<div class="dropdown">
										<button type="button"
											class="btn btn-outline-secondary dropdown-toggle custom-multiselect"
											data-bs-toggle="dropdown" aria-expanded="false" @click.prevent="">

											<span v-if="selectedFamilies.length > 0" class="selected-tags">
												<span v-for="(fam, index) in selectedFamilies" :key="index"
													class="badge text-bg-success me-2">
													{{ displayFamName(fam) }}
													<button v-on:click.stop="removeCategoryFam(index)"
														class="btn text-bg-success btn-sm ms-1">&times;</button>
												</span>

												<!-- Move the "Clear All" button to the end -->
												<button @click.stop="clearAllFam"
													class="btn btn-outline-danger btn-sm">{{
			$t("species.clearall") }}</button>
											</span>

											<span v-else>{{ $t("species.select") }}</span>
										</button>
										<ul class="dropdown-menu" style="max-height: 300px; overflow-y: auto;">
											<li class="dropdown-item">
												<!-- Search input inside the dropdown -->
												<input id="dropsearch" v-model="searchQueryFam" type="text"
													class="form-control mb-2" :placeholder="$t('species.searchFam')">

												<strong v-if="filteredOptionsFam.length === 0 && searchQueryFam">{{
			$t("species.nodatafam") }} <em>{{ searchQueryFam }}</em></strong>

												<ul class="list-unstyled">
													<li v-for="group in filteredOptionsFam" :key="group.label">
														<strong>{{ group.kingdom }}</strong>
														<ul class="list-unstyled" v-for="option in group.options"
															:key="option">
															<li class="mb-2"><em><u>{{ option.classe || 'N/D'
																		}}</u></em>
																<li lass="mb-2" v-for="fam in option.families" :key="fam">
																	<input class="form-check-input cl" type="checkbox"
																		:id="`${option.classe}-${fam}`" :value="fam"
																		@change="selectFamilia(option.classe, fam)"
																		:checked="isCheckedFam(option.classe, fam)" />
																	<label :for="`${option.classe}-${fam}`" class="ms-2">
																		{{ fam || 'N/D' }}
																	</label>
																</li>
															</li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div>
								<!-- División Menu -->
								<div v-if="speciesFetch.length > 0">
									<div class="input-group-append ">
										<h5>{{ $t("species.division") }}</h5>
										<hr class="hr" />
									</div>
									<div class="classdrop">
										<div class="dropdown">
											<button type="button"
												class="btn btn-outline-secondary dropdown-toggle custom-multiselect dropdownDivisionButton"
												data-bs-toggle="dropdown" aria-expanded="false" @click.stop.prevent="">
												<span v-if="selectedDivisions.length > 0" class="selected-tags">
													<span v-for="(division, index) in selectedDivisions" :key="index"
														class="badge text-bg-success me-2">
														{{ displayClassName(division) }}
														<button v-on:click.stop="removeCategoryDivision(index)"
															class="btn text-bg-success btn-sm ms-1">&times;</button>
													</span>
													<!-- Move the "Clear All" button to the end -->
													<button @click.stop="clearAllDivisions"
														class="btn btn-outline-danger btn-sm delete-division">
														{{ $t("species.clearall") }}
													</button>
												</span>
												<span v-else>{{ $t("species.select") }}</span>
											</button>
											<ul class="dropdown-menu" style="max-height: 300px; overflow-y: auto;">
												<li class="dropdown-item">
													<!-- Search input inside the dropdown -->
													<input id="dropsearch" v-model="searchQueryDivision" type="text"
														class="form-control mb-2"
														:placeholder="$t('species.searchDivision')" />
													<strong
														v-if="Object.values(filteredUniqueDivisionInSpecies).flat().length === 0 && searchQueryDivision">
														{{ $t("species.nodatadiv") }} 
														<em>{{ searchQueryDivision }}</em>
													</strong>
													<ul class="list-unstyled aaa">
														<li v-for="(group, kingdom) in filteredUniqueDivisionInSpecies"
															:key="kingdom">
															<strong>{{ kingdom }}</strong>
															<ul class="list-unstyled">
																<li class="mb-2" v-for="item in group"
																	:key="item.division">
																	<input class="form-check-input cl" type="checkbox"
																		:id="`${kingdom}-${item.division}`"
																		:value="item.division"
																		@change="selectDivision(kingdom, item.division)"
																		:checked="isCheckedDivision(kingdom, item.division)" />
																	<label :for="`${item.division}-${kingdom}`"
																		class="ms-2">
																		{{ item.division }}
																	</label>
																</li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- División Menu -->
								<div v-else>
									<div class="input-group-append">
										<h5>{{ $t("species.division") }}</h5>
										<hr class="hr" />
									</div>
									<div class="classdrop">
										<div class="dropdown">
											<button type="button"
												class="btn btn-outline-secondary dropdown-toggle custom-multiselect dropdownDivisionButton"
												data-bs-toggle="dropdown" aria-expanded="false" @click.prevent="">
												<span v-if="selectedDivisions.length > 0" class="selected-tags">
													<span v-for="(fam, index) in selectedDivisions" :key="index"
														class="badge text-bg-success me-2">
														{{ displayDivisionName(fam) }}
														<button v-on:click.stop="removeCategoryDivision(index)"
															class="btn text-bg-success btn-sm ms-1">&times;</button>
													</span>
													<!-- Move the "Clear All" button to the end -->
													<button @click.stop="clearAllDivisions"
														class="btn btn-outline-danger btn-sm">
														{{ $t("species.clearall") }}
													</button>
												</span>
												<span v-else>{{ $t("species.select") }}</span>
											</button>
											<ul class="dropdown-menu" style="max-height: 300px; overflow-y: auto;">
												<li class="dropdown-item">
													<!-- Search input inside the dropdown -->
													<input id="dropsearch" v-model="searchQueryDivision" type="text"
														class="form-control mb-2" :placeholder="$t('species.searchDivision')" />
													<strong v-if="filteredOptionsDivision.length === 0 && searchQueryDivision">
														{{ $t("species.nodatadiv") }} 
														<em>{{ searchQueryDivision }}</em>
													</strong>
													<ul class="list-unstyled">
														<li v-for="group in filteredOptionsDivision" :key="group.label">
															<strong>{{ group.label }}</strong>
															<ul class="list-unstyled" >
																<li lass="mb-2" v-for="option in group.options" :key="option.division">
																	<input class="form-check-input cl" type="checkbox"
																		:id="`${group.label}-${option.division}`" :value="option.division"
																		@change="selectDivision(group.label, option.division)"
																		:checked="isCheckedDivision(group.label, option.division)" />
																	<label :for="`${group.label}-${option.division}`"
																		class="ms-2">{{ option.division || 'N/D' }}
																	</label>
																</li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div>
								<!-- Order Menu -->
								<div v-if="speciesFetch.length > 0">
									<div class="input-group-append ">
										<h5>{{ $t("species.order") }}</h5>
										<hr class="hr" />
									</div>
									<div class="classdrop">
										<div class="dropdown">
											<button type="button"
												class="btn btn-outline-secondary dropdown-toggle custom-multiselect dropdownOrderButton"
												data-bs-toggle="dropdown" aria-expanded="false" @click.stop.prevent="">
												<span v-if="selectedOrders.length > 0" class="selected-tags">
													<span v-for="(order, index) in selectedOrders" :key="index"
														class="badge text-bg-success me-2">
														{{ displayClassName(order) }}
														<button v-on:click.stop="removeCategoryOrder(index)"
															class="btn text-bg-success btn-sm ms-1">&times;</button>
													</span>
													<!-- Move the "Clear All" button to the end -->
													<button @click.stop="clearAllOrders"
														class="btn btn-outline-danger btn-sm delete-division">
														{{ $t("species.clearall") }}
													</button>
												</span>
												<span v-else>{{ $t("species.select") }}</span>
											</button>
											<ul class="dropdown-menu" style="max-height: 300px; overflow-y: auto;">
												<li class="dropdown-item">
													<!-- Search input inside the dropdown -->
													<input id="dropsearch" v-model="searchQueryOrder" type="text"
														class="form-control mb-2"
														:placeholder="$t('species.searchOrder')" />
													<strong
														v-if="Object.values(filteredUniqueOrderInSpecies).flat().length === 0 && searchQueryOrder">
														{{ $t("species.nodataorder") }} 
														<em>{{ searchQueryOrder }}</em>
													</strong>
													<ul class="list-unstyled">
														<li v-for="(group, kingdom) in filteredUniqueOrderInSpecies"
															:key="kingdom">
															<strong>{{ kingdom }}</strong>
															<ul class="list-unstyled">
																<li class="mb-2" v-for="species in group"
																	:key="species.order">
																	<input class="form-check-input cl" type="checkbox"
																		:id="`${kingdom}-${species.order}`"
																		:value="species.order"
																		@change="selectOrder(kingdom, species.order)"
																		:checked="isCheckedOrder(kingdom, species.order)" />
																	<label :for="`${species.order}-${kingdom}`"
																		class="ms-2">
																		{{ species.order }}
																	</label>
																</li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- Order Menu -->
								<div v-else>
									<div class="input-group-append">
										<h5>{{ $t("species.order") }}</h5>
										<hr class="hr" />
									</div>
									<div class="classdrop">
										<div class="dropdown">
											<button type="button"
												class="btn btn-outline-secondary dropdown-toggle custom-multiselect dropdownOrderButton"
												data-bs-toggle="dropdown" aria-expanded="false" @click.prevent="">
												<span v-if="selectedOrders.length > 0" class="selected-tags">
													<span v-for="(order, index) in selectedOrders" :key="index"
														class="badge text-bg-success me-2">
														{{ displayOrderName(order) }}
														<button v-on:click.stop="removeCategoryOrder(index)"
															class="btn text-bg-success btn-sm ms-1">&times;</button>
													</span>
													<!-- Move the "Clear All" button to the end -->
													<button @click.stop="clearAllOrders"
														class="btn btn-outline-danger btn-sm">
														{{ $t("species.clearall") }}
													</button>
												</span>
												<span v-else>{{ $t("species.select") }}</span>
											</button>
											<ul class="dropdown-menu" style="max-height: 300px; overflow-y: auto;">
												<li class="dropdown-item">
													<!-- Search input inside the dropdown -->
													<input id="dropsearch" v-model="searchQueryOrder" type="text"
														class="form-control mb-2 aa" :placeholder="$t('species.searchOrder')" />
													<strong v-if="filteredOptionsOrder.length === 0 && searchQueryOrder">
														{{ $t("species.nodataorder") }} 
														<em>{{ searchQueryOrder }}</em>
													</strong>
													<ul class="list-unstyled">
														<li v-for="group in filteredOptionsOrder" :key="group.label">
															<strong>{{ group.label }}</strong>
															<ul class="list-unstyled" >
																<li class="mb-2" v-for="option in group.options" :key="option.order">
																	<input class="form-check-input cl" type="checkbox"
																		:id="`${group.label}-${option.order}`" :value="option.order"
																		@change="selectOrder(group.label, option.order)"
																		:checked="isCheckedOrder(group.label, option.order)" />
																	<label :for="`${group.label}-${option.order}`"
																		class="ms-2">{{ option.order || 'N/D' }}
																	</label>
																</li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br />
						<br />
						<div>
							<button class="btn btn-outline-success" @click="resetFilter()">
								{{ $t("species.reset") }}
							</button>
						</div>
					</div>
				</div>
			</div>

			<!-- TABLE COLUMN -->
			<div class="col-md-8">
				<div>
					<h2 class="fw-bold my-3">{{ $t("species.list") }}</h2>
					<hr class="hr" />
				</div>
				<template v-if="isLoading">
					<p>
						<font-awesome-icon :icon="['fas', 'gear']" size="2xl" spin style="color: #3c653e;" />
					</p>
					<div class="loader-text" id="loader">
						{{ $t("species.carregant") }}
					</div>
				</template>
				<template v-else>

					<template v-if="speciesFetch.length > 0">
						<SearchTable :count="fetchResultCount" :all="speciesFetch.length"
							:speciesArray="filteredSpeciesSearch" :headers="tableHeaders" :isLoading="isLoading"
							@species-selected="handleSpeciesSelected"
							@update-headers="handleUpdateHeaders"  />
					</template>
					<template v-else>
						<AllSpeciesTable :count="filteredResultCount" :all="allSpecies.length"
							:allSpecies="filteredSpecies" :headers="tableHeaders" :isLoading="isLoading"
							@species-selected="handleSpeciesSelected"
							@update-headers="handleUpdateHeaders" />
					</template>
				</template>
				<p v-if="!isLoading && (allSpecies.length === 0 || filteredSpecies.length==0)">{{ $t("species.dataNotFount") }}</p>
			</div>
		</div>
		<div class="col-md-12 mt-4">

			<div class="disclaimer">
				<h4>{{ $t("species.titledisclaimer") }}</h4>
				<p>{{ $t("species.disclaimer") }} {{ $t("species.startlinkdis") }} <a href="#" id="disclaimer"
						data-bs-toggle="modal" data-bs-target="#disclaimerModal">{{ $t("species.linkdisclaimer") }}</a>
					{{
			$t("species.endlinkdis") }}</p>
			</div>
		</div>
		<!-- DISCLAIMER MODAL -->
		<div class="modal fade" id="disclaimerModal" tabindex="-1" aria-labelledby="disclaimerModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="disclaimerModalLabel">{{ $t("species.titledisclaimer") }}</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body" style="max-height: 800px;  padding: 5% 10%; overflow-y: auto;">

						{{ $t("species.fulldisclaimer.intro") }} <br /><br />
						<b><u>{{ $t("species.fulldisclaimer.keypoints") }}<br /></u></b>
						<ul>
							<li><em> {{ $t("species.fulldisclaimer.experttitle") }}</em><br />
								{{ $t("species.fulldisclaimer.experttext") }}
							</li>
							<li><em>{{ $t("species.fulldisclaimer.ncbititle") }}</em> <br />
								{{ $t("species.fulldisclaimer.ncbitext") }}
							</li>
							<li><em>{{ $t("species.fulldisclaimer.gbiftitle") }}</em> <br />
								{{ $t("species.fulldisclaimer.gbiftext") }}
							</li>
							<li><em>{{ $t("species.fulldisclaimer.wikititle") }}</em><br />
								{{ $t("species.fulldisclaimer.wikitext") }}
							</li>
						</ul>

						{{ $t("species.fulldisclaimer.final1") }}<br />
						{{ $t("species.fulldisclaimer.final2") }}<br /><br />
						{{ $t("species.fulldisclaimer.final3") }}
					</div>

				</div>
			</div>
		</div>

	</div>
</template>

<script>
import { useRouter } from "vue-router";
import { useDatabaseStore } from "@/stores/database";
import { computed, onBeforeMount, ref, watch } from 'vue'
import LoadingOverlay from '@/components/LoadingOverlay.vue';
import AllSpeciesTable from "@/components/species/AllSpeciesTable.vue"
import SearchTable from "@/components/species/searchTable.vue"
import { useI18n } from 'vue-i18n'

export default {
	name: 'SpeciesView',
	components: {
		AllSpeciesTable, SearchTable, LoadingOverlay
	},

	setup() {
		const { t, locale } = useI18n({ useScope: 'global' })

		const router = useRouter();
		const databaseStore = useDatabaseStore();

		const allSpecies = computed(() => databaseStore.allSpecies);

		const tableHeaders = ref([
			{ name: t('species.regne'), isVisible: true, isEditable: false },
			{ name: t('species.classe'), isVisible: true, isEditable: false },
			{ name: t('species.family'), isVisible: true, isEditable: false },
			{ name: t('species.specie'), isVisible: true, isEditable: true },
			{ name: "TaxId", isVisible: true, isEditable: true },
			{ name: t('species.division'), isVisible: false, isEditable: true },
			{ name: t('species.order'), isVisible: false, isEditable: true },
			{ name: t('species.filum'), isVisible: false, isEditable: true },
			{ name: t('species.author'), isVisible: false, isEditable: true },
		]);

		const isLoading = ref(true);
		const isLoadingClasses = ref(false)
		const isSearching = ref(false);
		const isHovered = false;

		const filteredResultCount = ref(null);
		const fetchResultCount = ref(null);

		const kingdoms = computed(() => databaseStore.allKingdoms);
		const classes = computed(() => databaseStore.classes);
		const families = computed(() => databaseStore.families);
		const divisions = computed(() => databaseStore.divisions);
		const orders = computed(() => databaseStore.orders);
		const selectedKingdoms = ref([])
		const selectedClasses = ref([])
		const selectedFamilies = ref([])
		const selectedDivisions = ref([])
		const selectedOrders = ref([])	

		const searchInput = ref('');
		const searchQueryClass = ref('');
		const searchQueryFam = ref('');
		const searchQueryDivision = ref('');
		const searchQueryOrder = ref('');
		const speciesFetch = ref([]);
		const specieFound = ref([]);
		const specieSelected = ref(null);
		const suggestions = computed(() => databaseStore.speciesSuggestions);

		const searchAlert = ref(false);
		const noDataAlert = ref(false);
		const isDropdownVisible = ref(false);

		onBeforeMount(async () => {
			isLoading.value = true;
			await databaseStore.fetchAllSpecies();
			await databaseStore.fetchKingdoms();
			await databaseStore.fetchClasses();
			await databaseStore.fetchFamilies();
			await databaseStore.fetchDivision();
			await databaseStore.fetchOrder();

			const counterFetch = JSON.parse(localStorage.getItem('counterFetch'));
			if (counterFetch) {
				fetchResultCount.value = counterFetch
			}
			const input = JSON.parse(localStorage.getItem('searchInput'));
			if (input) {
				searchInput.value = input
			}
			const listsugg = JSON.parse(localStorage.getItem('suggestionsList'));
			if (listsugg) {
				speciesFetch.value = listsugg
			}
			isLoading.value = false;

		});

		// Add a computed property to determine if the input is a number
		const isNumberInput = computed(() => !isNaN(searchInput.value));
		// Search species in the database
		const search = async () => {

			isLoading.value = true;
			if (searchInput.value === '') {
				localStorage.removeItem('suggestionsList')
				localStorage.removeItem('searchInput')
				localStorage.removeItem('searchKingdoms')
				localStorage.removeItem('searchClasses')
				localStorage.removeItem('searchFamilies')
				localStorage.removeItem('searchDivisions')
				localStorage.removeItem('searchOrders')
				speciesFetch.value = [];
				searchAlert.value = true
				setTimeout(() => searchAlert.value = false, 4000)
			} else {
				searchAlert.value = false
				await databaseStore.fetchSpeciesSuggestions(searchInput.value);
				if (databaseStore.speciesSuggestions && databaseStore.speciesSuggestions.length > 1) {
					localStorage.setItem('searchInput', JSON.stringify(searchInput.value));
					localStorage.setItem('currentPage', 1);
					localStorage.removeItem('selectedKingdoms')
					localStorage.removeItem('selectedClasses')
					localStorage.removeItem('selectedFamilies')
					localStorage.removeItem('itemPerPageSearch')
					localStorage.removeItem('searchKingdoms')
					localStorage.removeItem('searchClasses')
					localStorage.removeItem('searchFamilies')
					localStorage.removeItem('searchDivisions')
					localStorage.removeItem('searchOrders')
					selectedKingdoms.value = [];
					selectedClasses.value = [];
					selectedFamilies.value = [];
					selectedDivisions.value = [];
					selectedOrders.value = [];
					speciesFetch.value = databaseStore.speciesSuggestions

				} else if (databaseStore.speciesSuggestions.length == 1) {
					handleSpeciesSelected(suggestions.value[0]["Espècie"])
				} else {
					localStorage.removeItem('suggestionsList')
					localStorage.removeItem('searchInput')
					localStorage.removeItem('searchKingdoms')
					localStorage.removeItem('searchClasses')
					localStorage.removeItem('searchFamilies')
					localStorage.removeItem('searchDivisions')
					localStorage.removeItem('searchOrders')
					localStorage.removeItem('itemPerPage')

					speciesFetch.value = [];
					noDataAlert.value = true
					setTimeout(() => noDataAlert.value = false, 4000)
				}
			}
			databaseStore.speciesSuggestions = [];
			isLoading.value = false;

		};

		const searchSpecie = async (specie) => {


			await databaseStore.fetchSpecie(specie);
			if (databaseStore.specieData) {

				specieFound.value = databaseStore.specieData;
			} else {
				specieFound.value = [];
			}


		}

		// Fetch species suggestions
		const fetchSpeciesSuggestions = () => {
			if (searchInput.value === "") {
				databaseStore.speciesSuggestions = [];
			} else {

				databaseStore.fetchSpeciesSuggestions(searchInput.value);
			}
		};

		const handleSpeciesSelected = async (species) => {
			// Pass the name of the selected species
			const selectedSpeciesName = species;

			isSearching.value = true

			await searchSpecie(selectedSpeciesName);

			// Wait for the search to complete and speciesFetch to be populated
			await new Promise((resolve) => setTimeout(resolve, 500));


			specieSelected.value = specieFound.value

			// Store the species data in the local storage
			localStorage.setItem('selectedSpecies', JSON.stringify(specieSelected.value));

			// Navigate to the species details page
			router.push({
				name: 'specieDetails',
				params: { lookupValue: selectedSpeciesName }
			});


		}

		// Select a suggestion and trigger search
		const selectSuggestion = (suggestion) => {
			searchInput.value = suggestion["Espècie"];
			databaseStore.speciesSuggestions = []; // Clear suggestions
			if (searchInput.value) {
				handleSpeciesSelected(searchInput.value);
			}
		};

		// Function to select a kingdom and update the selectedKingdom value
		const selectKingdom = (kingdom) => {
			if (kingdom === null) {
				// Toggle "N/D" in selectedKingdoms
				if (selectedKingdoms.value.includes("N/D")) {
					selectedKingdoms.value.pop("N/D")
				} else {
					selectedKingdoms.value.push("N/D");
				}

			} else {
				// Toggle the selected kingdom in selectedKingdoms
				if (selectedKingdoms.value.includes(kingdom)) {
					selectedKingdoms.value = selectedKingdoms.value.filter(k => k !== kingdom);
				} else {
					selectedKingdoms.value.push(kingdom);
				}

			}

			localStorage.setItem('selectedKingdoms', JSON.stringify(selectedKingdoms.value));
			localStorage.setItem('selectedClasses', JSON.stringify(selectedClasses.value));
		};

		const isCheckedClass = (label, option) => {
			const checkboxId = option === null ? [label, "N/D"] : [label, option];
			return isSubArray(checkboxId, selectedClasses.value);
		};

		const isCheckedFam = (classe, fam) => {
			const checkboxId = fam === null ? [classe, "N/D"] : [classe, fam];
			return isSubArray(checkboxId, selectedFamilies.value);
		};

		const isCheckedDivision = (classe, division) => {
			const checkboxId = division === null ? [classe, "N/D"] : [classe, division];
			return isSubArray(checkboxId, selectedDivisions.value);
		};

		const isCheckedOrder = (classe, order) => {
			const checkboxId = order === null ? [classe, "N/D"] : [classe, order];
			return isSubArray(checkboxId, selectedOrders.value);
		};

		const isSubArray = (array, arrayOfArrays) => {
			return arrayOfArrays.some(subArray => {
				// Use a deep comparison to check if subArray is equal to array
				return JSON.stringify(subArray) === JSON.stringify(array);
			});
		};

		// Function to select a class and update the selectedClasses value
		const selectClasse = (label, option) => {
			const checkboxId = option === null ? [label, "N/D"] : [label, option];

			// Check if the array already exists in selectedClasses
			const arrayExists = isSubArray(checkboxId, selectedClasses.value);

			if (arrayExists) {
				if (selectedKingdoms.value.includes(label)) {
					selectedKingdoms.value = selectedKingdoms.value.filter(k => k !== label);
					localStorage.setItem('selectedKingdoms', JSON.stringify(selectedKingdoms.value));
				}
				selectedClasses.value = selectedClasses.value.filter(c => JSON.stringify(c) !== JSON.stringify(checkboxId));
			} else {
				selectedClasses.value.push(checkboxId);
			}
			localStorage.setItem('selectedClasses', JSON.stringify(selectedClasses.value));
			document.querySelector('.dropdown-toggle').click();
		};



		const selectFamilia = (classe, familia) => {


			const checkboxId = familia === null ? [classe, "N/D"] : [classe, familia];

			// Check if the object already exists in selectedFamilies
			const arrayExists = isSubArray(checkboxId, selectedFamilies.value);

			if (arrayExists) {
				selectedFamilies.value = selectedFamilies.value.filter(c =>
					JSON.stringify(c) !== JSON.stringify(checkboxId)
				);
			} else {
				selectedFamilies.value.push(checkboxId);
			}
			localStorage.setItem('selectedFamilies', JSON.stringify(selectedFamilies.value));
			document.querySelector('.dropdown-toggle').click();
		};

		const selectDivision = (kingdom, division) => {
			const checkboxId = division === null ? [kingdom, "N/D"] : [kingdom, division];
			// Check if the object already exists in selectedFamilies
			const arrayExists = isSubArray(checkboxId, selectedDivisions.value);

			if (arrayExists) {
				selectedDivisions.value = selectedDivisions.value.filter(c =>
					JSON.stringify(c) !== JSON.stringify(checkboxId)
				);
			} else {
				selectedDivisions.value.push(checkboxId);
			}

			if (kingdom === null) {
				// Toggle "N/D" in selectedKingdoms
				if (selectedKingdoms.value.includes("N/D")) {
					selectedKingdoms.value.pop("N/D")
				} else {
					selectedKingdoms.value.push("N/D");
				}

			} else {
				// Toggle the selected kingdom in selectedKingdoms
				if (!selectedKingdoms.value.includes(kingdom)) {
					selectedKingdoms.value.push(kingdom);
				}

			}
			localStorage.setItem('selectedKingdoms', JSON.stringify(selectedKingdoms.value));
			localStorage.setItem('selectedDivisions', JSON.stringify(selectedDivisions.value));

			let elements = document.getElementsByClassName('dropdownDivisionButton')
			for(let i = 0; i < elements.length; i++) {
				elements[i].click();
			}
		};

		const selectOrder = (kingdom, order) => {
			const checkboxId = order === null ? [kingdom, "N/D"] : [kingdom, order];

			// Check if the object already exists in selectedFamilies
			const arrayExists = isSubArray(checkboxId, selectedOrders.value);
			if (arrayExists) {
				selectedOrders.value = selectedOrders.value.filter(c =>
					JSON.stringify(c) !== JSON.stringify(checkboxId)
				);
			} else {
				selectedOrders.value.push(checkboxId);
			}

			if (kingdom === null) {
				// Toggle "N/D" in selectedKingdoms
				if (selectedKingdoms.value.includes("N/D")) {
					selectedKingdoms.value.pop("N/D")
				} else {
					selectedKingdoms.value.push("N/D");
				}

			} else {
				// Toggle the selected kingdom in selectedKingdoms
				if (!selectedKingdoms.value.includes(kingdom)) {
					selectedKingdoms.value.push(kingdom);
				}

			}
			localStorage.setItem('selectedKingdoms', JSON.stringify(selectedKingdoms.value));
			localStorage.setItem('selectedOrders', JSON.stringify(selectedOrders.value));

			let elements = document.getElementsByClassName('dropdownOrderButton')
			for(let i = 0; i < elements.length; i++) {
				elements[i].click();
			}
		};

		const filterSpecies = (item) => {
			let regne = null;
			let classe = null;
			let familia = null;
			let division = null;
			let order = null;

			if (speciesFetch.value.length > 0) {
				regne = item.Regne;
				classe = item.Classe;
				familia = item.Família;
				division = item.Divisió ?? null;
				order = item.Ordre;
			} else {
				regne = item.TAXONOMIA.Regne;
				classe = item.TAXONOMIA.Classe;
				familia = item.TAXONOMIA.Família;
				division = item.TAXONOMIA.Divisió ?? null;
				order = item.TAXONOMIA.Ordre;
			}

			const storedselectedKingdoms = localStorage.getItem('selectedKingdoms');
			if (storedselectedKingdoms) {
				selectedKingdoms.value = JSON.parse(storedselectedKingdoms)
			}
			const storedselectedClasses = localStorage.getItem('selectedClasses');
			if (storedselectedClasses) {
				selectedClasses.value = JSON.parse(storedselectedClasses)
			}
			const storedselectedFamilies = localStorage.getItem('selectedFamilies');
			if (storedselectedFamilies) {
				selectedFamilies.value = JSON.parse(storedselectedFamilies)
			}
			const storedselectedDivision = localStorage.getItem('selectedDivisions');
			if (storedselectedDivision) {
				selectedDivisions.value = JSON.parse(storedselectedDivision)
			}
			const storedselectedOrders = localStorage.getItem('selectedOrders');
			if (storedselectedOrders) {
				selectedOrders.value = JSON.parse(storedselectedOrders)
			}

			const hasSelectedKingdom = selectedKingdoms.value.length >= 1;
			const hasSelectedClasses = selectedClasses.value.length >= 1;
			const hasSelectedFamilies = selectedFamilies.value.length >= 1;
			const hasSelectedDivisions = selectedDivisions.value.length >= 1;
			const hasSelectedOrders = selectedOrders.value.length >= 1;

			const hasNDKingdom = selectedKingdoms.value.includes("N/D");
			const hasNDClass = selectedClasses.value.some(([k, c]) => k == regne && c === "N/D");
			const hasNDFam = selectedFamilies.value.some(([c, f]) => c == classe && f === "N/D");
			const hasNDDivision = selectedDivisions.value.some(([k, f]) => k == regne && f === "N/D");
			const hasNDOrder = selectedOrders.value.some(([k, o]) => k == regne && o === "N/D");

			const KingdomItem = selectedKingdoms.value.includes(regne)
			const ClassesItem = selectedClasses.value.some(([k, c]) => k == regne && c === classe)
			const FamilyItem = selectedFamilies.value.some(([c, f]) => c == classe && f === familia)
			const DivisionItem = selectedDivisions.value.some(([k, d]) => k == regne && d == division)
			const OrderItem = selectedOrders.value.some(([k, o]) => k == regne && o == order)

			// If no kingdoms or classes are selected, include the item
			if (!hasSelectedKingdom && !hasSelectedClasses && !hasSelectedFamilies && !hasSelectedDivisions && !hasSelectedOrders) {
				return true;
			}
			if (hasSelectedKingdom && hasSelectedClasses && hasSelectedFamilies && hasSelectedDivisions && hasSelectedOrders) {
				if (hasNDKingdom && hasNDClass && hasSelectedFamilies && hasNDDivision && hasNDOrder) {
					return regne == null && classe == null && division == null && order == null
				} else if (hasNDKingdom && hasNDClass && hasNDDivision) {
					return regne == null && classe == null && division == null && OrderItem
				} else if (hasNDKingdom && hasNDClass && hasNDOrder) {
					return regne == null && classe == null && DivisionItem && order == null
				} else if (hasNDKingdom && hasNDDivision && hasNDOrder) {
					return regne == null && ClassesItem && division == null && order == null
				} else if (hasNDClass && hasNDDivision && hasNDOrder) {
					return KingdomItem && ClassesItem && division == null && order == null
				} else if (hasNDClass && hasNDDivision && hasNDOrder) {
					return KingdomItem && ClassesItem && DivisionItem && order == null
				} else if (hasNDKingdom && hasNDDivision && hasNDOrder) {
					return regne == null && ClassesItem && division == null && order == null
				} else if (hasNDKingdom && hasNDClass && hasNDOrder) {
					return regne == null && classe == null && DivisionItem && order == null
				} else {
					return KingdomItem || ClassesItem || DivisionItem || OrderItem
				}
			} else if (hasSelectedKingdom && hasSelectedClasses && hasSelectedDivisions && hasSelectedOrders) {
				if (hasNDKingdom && hasNDClass && hasNDDivision && hasNDOrder) {
					return regne == null && classe == null && division == null && order == null
				} else if (hasNDKingdom && hasNDClass && hasNDDivision) {
					return regne == null && classe == null && division == null && OrderItem
				} else if (hasNDKingdom && hasNDClass && hasNDOrder) {
					return regne == null && classe == null && DivisionItem && order == null
				} else if (hasNDKingdom && hasNDDivision && hasNDOrder) {
					return regne == null && ClassesItem && division == null && order == null
				} else if (hasNDClass && hasNDDivision && hasNDOrder) {
					return KingdomItem && ClassesItem && division == null && order == null
				} else if (hasNDClass && hasNDDivision && hasNDOrder) {
					return KingdomItem && ClassesItem && DivisionItem && order == null
				} else if (hasNDKingdom && hasNDDivision && hasNDOrder) {
					return regne == null && ClassesItem && division == null && order == null
				} else if (hasNDKingdom && hasNDClass && hasNDOrder) {
					return regne == null && classe == null && DivisionItem && order == null
				} else {
					return KingdomItem && ClassesItem && DivisionItem && OrderItem
				}
			} else if (hasSelectedKingdom && hasSelectedClasses && hasSelectedFamilies && hasSelectedDivisions ) {
				if (hasNDKingdom && hasNDClass && hasNDFam && hasNDDivision) {
					return regne == null && classe == null && familia == null && division == null && order == null
				} else if (hasNDKingdom && hasNDClass && hasNDFam) {
					return regne == null && classe == null && familia == null && DivisionItem && order == null
				} else if (hasNDKingdom && hasNDClass && hasNDDivision) {
					return regne == null && classe == null && FamilyItem && division == null && order == null
				} else if (hasNDKingdom && hasNDFam && hasNDDivision) {
					return regne == null && ClassesItem && familia == null && division == null && order == null
				} else if (hasNDClass && hasNDFam && hasNDDivision) {
					return KingdomItem && ClassesItem && familia == null && division == null && order == null
				} else if (hasNDClass && hasNDFam && hasNDDivision) {
					return KingdomItem && ClassesItem && FamilyItem && division == null && order == null
				} else if (hasNDKingdom && hasNDFam && hasNDDivision) {
					return regne == null && ClassesItem && familia == null && division == null && order == null
				} else if (hasNDKingdom && hasNDClass && hasNDFam) {
					return regne == null && classe == null && FamilyItem && division == null && order == null
				} else {
					return KingdomItem || ClassesItem || FamilyItem || DivisionItem
				}
			} else if (hasSelectedKingdom && hasSelectedClasses && hasSelectedFamilies && hasSelectedOrders) {
				if (hasNDKingdom && hasNDClass && hasNDFam && hasNDOrder) {
					return regne == null && classe == null && familia == null && order == null
				} else if (hasNDKingdom && hasNDClass && hasNDFam) {
					return regne == null && classe == null && familia == null && OrderItem
				} else if (hasNDKingdom && hasNDClass && hasNDOrder) {
					return regne == null && classe == null && FamilyItem && order == null
				} else if (hasNDKingdom && hasNDFam && hasNDOrder) {
					return regne == null && ClassesItem && familia == null && order == null
				} else if (hasNDClass && hasNDFam && hasNDOrder) {
					return KingdomItem && ClassesItem && familia == null && order == null
				} else if (hasNDClass && hasNDFam && hasNDOrder) {
					return KingdomItem && ClassesItem && FamilyItem && order == null
				} else if (hasNDKingdom && hasNDFam && hasNDOrder) {
					return regne == null && ClassesItem && familia == null && order == null
				} else if (hasNDKingdom && hasNDClass && hasNDFam) {
					return regne == null && classe == null && FamilyItem && order == null
				} else {
					return KingdomItem && ClassesItem && FamilyItem && OrderItem
				}

			} else if (hasSelectedClasses && hasSelectedFamilies && hasSelectedDivisions && hasSelectedOrders) {
				if (hasNDClass && hasNDFam && hasNDDivision && hasNDOrder) {
					return classe == null && familia == null && division == null && order == null
				} else if (hasNDClass && hasNDFam && hasNDDivision) {
					return classe == null && familia == null && division == null && OrderItem
				} else if (hasNDClass && hasNDFam && hasNDOrder) {
					return classe == null && familia == null && DivisionItem && order == null
				} else if (hasNDClass && hasNDDivision && hasNDOrder) {
					return classe == null && FamilyItem && division == null && order == null
				} else if (hasNDFam && hasNDDivision && hasNDOrder) {
					return ClassesItem && familia == null && division == null && order == null
				} else if (hasNDFam && hasNDDivision && hasNDOrder) {
					return ClassesItem && FamilyItem && division == null && order == null
				} else if (hasNDClass && hasNDDivision && hasNDOrder) {
					return KingdomItem && ClassesItem && division == null && order == null
				} else if (hasNDClass && hasNDFam && hasNDDivision) {
					return KingdomItem && ClassesItem && familia == null && division == null
				} else {
					return ClassesItem || FamilyItem || DivisionItem || OrderItem
				}
			} else if (hasSelectedKingdom && hasSelectedClasses && hasSelectedOrders) {
				if (hasNDKingdom && hasNDClass && hasNDOrder) {
					return regne == null || classe == null || order == null
				} else if (hasNDKingdom && hasNDClass) {
					return regne == null && classe == null && OrderItem
				} else if (hasNDKingdom && hasNDOrder) {
					return regne == null && classe == null && OrderItem
				} else if (hasNDClass && hasNDOrder) {
					return regne == null && classe == null && OrderItem
				} else if (hasNDOrder) {
					return KingdomItem && ClassesItem && order == null
				} else if (hasNDKingdom) {
					return regne == null && ClassesItem && OrderItem
				} else if (hasNDClass) {
					return KingdomItem && classe == null && OrderItem
				} else {
					return KingdomItem && ClassesItem && OrderItem
				}
			} else if(hasSelectedKingdom && hasSelectedDivisions && hasSelectedOrders) {
				if (hasNDKingdom && hasNDDivision && hasNDOrder) {
					return regne == null || division == null || order == null
				} else if (hasNDKingdom && hasNDDivision) {
					return regne == null && division == null && OrderItem
				} else if (hasNDKingdom && hasNDOrder) {
					return regne == null && division == null && OrderItem
				} else if (hasNDDivision && hasNDOrder) {
					return KingdomItem && division == null && OrderItem
				} else if (hasNDOrder) {
					return KingdomItem && DivisionItem && order == null
				} else if (hasNDKingdom) {
					return regne == null && DivisionItem && OrderItem
				} else if (hasNDDivision) {
					return KingdomItem && division == null && OrderItem
				} else {
					return KingdomItem && DivisionItem && OrderItem
				}
			} else if (hasSelectedKingdom && hasSelectedClasses && hasSelectedDivisions) {
				if (hasNDKingdom && hasNDClass && hasNDDivision) {
					return regne == null || classe == null || division == null
				} else if (hasNDKingdom && hasNDClass) {
					return regne == null && classe == null && DivisionItem
				} else if (hasNDKingdom && hasNDDivision) {
					return regne == null && classe == null && DivisionItem
				} else if (hasNDClass && hasNDDivision) {
					return KingdomItem && classe == null && division == null
				} else if (hasNDClass) {
					return KingdomItem && ClassesItem && division == null
				} else if (hasNDDivision) {
					return KingdomItem && DivisionItem && classe == null
				} else {
					return KingdomItem && ClassesItem && DivisionItem
				}
			} else if (hasSelectedKingdom && hasSelectedFamilies && hasSelectedOrders) {
				if (hasNDKingdom && hasNDFam && hasNDOrder) {
					return regne == null || familia == null || order == null
				} else if (hasNDKingdom && hasNDFam) {
					return regne == null && familia == null && OrderItem
				} else if (hasNDKingdom && hasNDOrder) {
					return regne == null && familia == null && OrderItem
				} else if (hasNDFam && hasNDOrder) {
					return KingdomItem && familia == null && OrderItem
				} else if (hasNDOrder) {
					return KingdomItem && FamilyItem && order == null
				} else if (hasNDKingdom) {
					return regne == null && FamilyItem && OrderItem
				} else if (hasNDFam) {
					return KingdomItem && familia == null && OrderItem
				} else {
					return KingdomItem && FamilyItem && OrderItem
				}
			} else if (hasSelectedClasses && hasSelectedFamilies && hasSelectedDivisions) {
				if (hasNDClass && hasNDFam && hasNDDivision) {
					return classe == null && familia == null && division == null
				} else if (hasNDClass && hasNDFam) {
					return classe == null && familia == null && DivisionItem
				} else if (hasNDClass && hasNDDivision) {
					return classe == null && familia == null && DivisionItem
				} else if (hasNDFam && hasNDDivision) {
					return ClassesItem && familia == null && division == null
				} else if (hasNDClass) {
					return classe == null && FamilyItem && DivisionItem
				} else {
					return ClassesItem && FamilyItem && DivisionItem
				}
			} else if (hasSelectedKingdom && hasSelectedFamilies && hasSelectedOrders) {
				if (hasNDKingdom && hasNDFam && hasNDOrder) {
					return regne == null || familia == null || order == null
				} else if (hasNDKingdom && hasNDFam) {
					return regne == null && familia == null && OrderItem
				} else if (hasNDKingdom && hasNDOrder) {
					return regne == null && familia == null && OrderItem
				} else if (hasNDFam && hasNDOrder) {
					return KingdomItem && familia == null && OrderItem
				} else if (hasNDOrder) {
					return KingdomItem && FamilyItem && order == null
				} else if (hasNDKingdom) {
					return regne == null && FamilyItem && OrderItem
				} else if (hasNDFam) {
					return KingdomItem && familia == null && OrderItem
				} else {
					return KingdomItem && FamilyItem && OrderItem
				}
			} else if (hasSelectedClasses && hasSelectedFamilies && hasSelectedDivisions) {
				if (hasNDClass && hasNDFam && hasNDDivision) {
					return classe == null && familia == null && division == null
				} else if (hasNDClass && hasNDFam) {
					return classe == null && familia == null && DivisionItem
				} else if (hasNDClass && hasNDDivision) {
					return classe == null && familia == null && DivisionItem
				} else if (hasNDFam && hasNDDivision) {
					return ClassesItem && familia == null && division == null
				} else if (hasNDClass) {
					return KingdomItem && classe == null && DivisionItem
				}
			} else if (hasSelectedKingdom && hasSelectedClasses) {
				if (hasNDKingdom && hasNDClass) {
					return regne == null || classe == null
				} else if (hasNDKingdom) {
					return regne == null && ClassesItem
				} else if (hasNDClass) {
					return KingdomItem && classe == null
				} else {
					return KingdomItem && ClassesItem
				}
			} else if (hasSelectedKingdom && hasSelectedFamilies) {
				if (hasNDKingdom && hasNDFam) {
					return regne == null || familia == null
				} else if (hasNDKingdom) {
					return regne == null || FamilyItem
				} else if (hasNDFam) {
					return KingdomItem && familia == null
				} else {
					return KingdomItem || FamilyItem
				}
			} else if (hasSelectedKingdom && hasSelectedDivisions) {
				if (hasNDKingdom && hasNDDivision) {
					return regne == null && division == null
				} else if (hasNDKingdom) {
					return regne == null || DivisionItem
				} else if (hasNDDivision) {
					return KingdomItem && division == null
				} else {
					return KingdomItem && DivisionItem
				}
			} else if (hasSelectedKingdom && hasSelectedOrders) {
				if (hasNDKingdom && hasNDOrder) {
					return regne == null && order == null
				} else if (hasNDKingdom) {
					return regne == null || OrderItem
				} else if (hasNDOrder) {
					return KingdomItem && order == null
				} else {
					return KingdomItem && OrderItem
				}
			} else if (hasSelectedClasses && hasSelectedFamilies) {
				if (hasNDClass && hasNDFam) {
					return classe == null && familia == null
				} else if (hasNDClass) {
					return classe == null || FamilyItem
				} else if (hasNDFam) {
					return ClassesItem && familia == null
				} else {
					return ClassesItem || FamilyItem
				}
			} else if (hasSelectedClasses && hasSelectedDivisions) {
				if (hasNDClass && hasNDDivision) {
					return classe == null && division == null
				} else if (hasNDClass) {
					return classe == null || DivisionItem
				} else if (hasNDDivision) {
					return ClassesItem && division == null
				} else {
					return ClassesItem || DivisionItem
				}
			} else if (hasSelectedClasses && hasSelectedOrders) {
				if (hasNDClass && hasNDOrder) {
					return classe == null && order == null
				} else if (hasNDClass) {
					return classe == null || OrderItem
				} else if (hasNDOrder) {
					return ClassesItem && order == null
				} else {
					return ClassesItem || OrderItem
				}
			} else if (hasSelectedKingdom) {
				if (hasNDKingdom) {
					return KingdomItem || regne == null
				} else {
					return KingdomItem
				}
			} else if (hasSelectedClasses) {
				if (hasNDClass) {
					return selectedClasses.value.some(([kingdomItem, classeItem]) => {
						if (kingdomItem == "N/D") {
							return regne == null && classe == null
						} else {
							return regne == kingdomItem && classe == null
						}
					})
				} else {
					return selectedClasses.value.some(([kingdomItem, classeItem]) => {
						if (kingdomItem == "N/D") {
							return regne == null && classe == classeItem
						} else {
							return regne == kingdomItem && classe == classeItem
						}
					})
				}
			} else if (hasSelectedFamilies) {
				if (hasNDFam) {
					return selectedFamilies.value.some(([classeItem, FamItem]) => {
						if (classeItem == "N/D") {
							return classe == null && familia == null
						} else {
							return classe == classeItem && familia == null
						}
					})
				} else {
					return selectedFamilies.value.some(([classeItem, FamItem]) => {
						if (classeItem == "N/D") {
							return classe == null && familia == FamItem
						} else {
							return classe == classeItem && familia == FamItem
						}
					})
				}
			} else if (hasSelectedDivisions) {
				if (hasNDDivision) {
					return selectedDivisions.value.some(([classeItem, selectedDivisions]) => {
						if (classeItem == "N/D") {
							return classe == null && division == null
						} else {
							return classe == classeItem && division == null
						}
					})
				} else {
					return selectedDivisions.value.some(([classeItem, selectedDivisions]) => {
						if (classeItem == "N/D") {
							return classe == null && division == selectedDivisions
						} else {
							return classe == classeItem && familiadivision== selectedDivisions
						}

					})
				}
			} else if (hasSelectedOrders) {
				if (hasNDOrder) {
					return selectedOrders.value.some(([classeItem, selectedOrders]) => {
						if (classeItem == "N/D") {
							return classe == null && order == null
						} else {
							return classe == classeItem && order == null
						}
					})
				} else {
					return selectedOrders.value.some(([classeItem, itemOrder]) => {
						if (classeItem == "N/D") {
							return classe == null && order == itemOrder
						} else {
							return classe == classeItem && order == itemOrder
						}
					})
				}
			}

			localStorage.setItem('currentPage', 1);
		};

		const isClassDisabled = (classe) => {

			const uniqueClassesInSpecies = [...new Set(speciesFetch.value.map(species => species.Classe ?? 'N/D'))];
			return !uniqueClassesInSpecies.includes(classe);
		};

		const isFamDisabled = (family) => {

			const uniqueFamInSpecies = [...new Set(speciesFetch.value.map(species => species.Família ?? 'N/D'))];
			return !uniqueFamInSpecies.includes(family);
		};

		const isDivisionDisabled = (division) => {
			const uniqueDivisionInSpecies = [...new Set(speciesFetch.value.map(species => species.Division ?? 'N/D'))];
			return !uniqueDivisionInSpecies.includes(division);
		};

		const isOrdersDisabled = (order) => {
			const uniqueOrdersInSpecies = [...new Set(speciesFetch.value.map(species => species.Order ?? 'N/D'))];
			return !uniqueOrdersInSpecies.includes(order);
		}

		const filteredSpeciesSearch = computed(() => {
			const filtered = speciesFetch.value.filter(filterSpecies);
			isLoading.value = false;
			return filtered
		});

		const filteredSpecies = computed(() => {
			const filtered = allSpecies.value.filter(filterSpecies);
			isLoading.value = false;
			return filtered
		});

		const clearSearchInput = () => {
			searchInput.value = ''
			databaseStore.speciesSuggestions = [];
			speciesFetch.value = [];
			selectedKingdoms.value = []
			selectedClasses.value = []
			selectedFamilies.value = []
			selectedDivisions.value = []
			databaseStore.fetchAllSpecies();
			localStorage.setItem('currentPage', 1);
			localStorage.removeItem('suggestionsList')
			localStorage.removeItem('searchInput')
			localStorage.removeItem('counterFetch')
			localStorage.removeItem('searchKingdoms')
			localStorage.removeItem('searchClasses')
			localStorage.removeItem('searchFamilies')
			localStorage.removeItem('selectedKingdoms')
			localStorage.removeItem('selectedClasses')
			localStorage.removeItem('selectedFamilies')
			localStorage.removeItem('itemPerPageSearch')
		}

		const resetFilter = () => {
			searchInput.value = ''
			speciesFetch.value = [];
			selectedKingdoms.value = []
			selectedClasses.value = []
			selectedFamilies.value = []
			databaseStore.fetchAllSpecies();
			databaseStore.fetchKingdoms();
			databaseStore.fetchClasses();
			databaseStore.fetchFamilies();
			localStorage.removeItem('suggestionsList')
			localStorage.removeItem('searchInput')
			localStorage.removeItem('counterFetch')
			localStorage.removeItem('searchKingdoms')
			localStorage.removeItem('searchClasses')
			localStorage.removeItem('searchFamilies')
			localStorage.removeItem('selectedKingdoms')
			localStorage.removeItem('selectedClasses')
			localStorage.removeItem('selectedFamilies')
			localStorage.removeItem('itemPerPageSearch')
			document.querySelector('.dropdown-toggle').click();

		};
		watch(locale, (newLocale, oldLocale) => {
			tableHeaders.value = [
				t('species.regne'),
				t('species.classe'),
				t('species.family'),
				t('species.specie'),
				"TaxId"
			];
		});

		watch(filteredSpecies, (newValue) => {
			if (newValue !== null) {
				filteredResultCount.value = newValue.length;
			} else {

				filteredResultCount.value = null;
			}
		});

		watch(filteredSpeciesSearch, (newValue) => {
			if (newValue !== null) {
				fetchResultCount.value = newValue.length;
				localStorage.setItem('counterFetch', JSON.stringify(fetchResultCount.value));

				// Convert to plain object before storing in localStorage
				const plainObject = JSON.parse(JSON.stringify(filteredSpeciesSearch.value));
				localStorage.setItem('suggestionsList', JSON.stringify(plainObject));
			} else {
				fetchResultCount.value = null;
			}
		});

		return {
			searchInput,
			isNumberInput,
			isLoading,
			isLoadingClasses,
			isSearching,
			isHovered,
			tableHeaders,
			kingdoms,
			classes,
			families,
			divisions,
			orders,
			allSpecies,
			speciesFetch,
			search,
			suggestions,
			fetchSpeciesSuggestions,
			selectSuggestion,
			selectKingdom,
			selectClasse,
			selectFamilia,
			selectDivision,
			selectOrder,
			selectedKingdoms,
			selectedClasses,
			selectedFamilies,
			selectedDivisions,
			selectedOrders,
			filteredSpecies,
			filteredSpeciesSearch,
			clearSearchInput,
			resetFilter,
			filteredResultCount,
			fetchResultCount,
			handleSpeciesSelected,
			specieSelected,
			filterSpecies,
			searchAlert,
			noDataAlert,
			searchQueryClass,
			searchQueryFam,
			searchQueryDivision,
			searchQueryOrder,
			isClassDisabled,
			isFamDisabled,
			isDivisionDisabled,
			isOrdersDisabled,
			isCheckedClass,
			isCheckedFam,
			isCheckedDivision,
			isCheckedOrder,
			t, locale,
			isDropdownVisible
		};

	},
	computed: {
		showClearIcon() {
			return this.searchInput;
		},
		halfLength() {
			return (list) => {
				const totalItems = list.length;
				// Calculate the half-length based on the total number of items in the list
				return Math.ceil(totalItems / 2);
			};
		},
		filteredOptionsClass() {
			if (!this.searchQueryClass) return this.classes;

			return this.classes.map(group => ({
				...group,
				options: group.options.map(option => option || 'N/D').filter(option =>
					option.toLowerCase().includes(this.searchQueryClass.toLowerCase())
				),
			})).filter(group => group.options.length > 0);
		},
		filteredOptionsFam() {
			if (!this.searchQueryFam) return this.families;

			return this.families
				.map(group => ({
					...group,
					options: group.options
						.map(option => ({
							...option,
							families: (option.families || []).map(fam => fam || 'N/D').filter(fam =>
								fam.toLowerCase().includes(this.searchQueryFam.toLowerCase())
							),
						}))
						.filter(option => option.families.length > 0), // Remove options with no matching families
				}))
				.filter(group => group.options.length > 0);
		},
		filteredOptionsDivision() {
			let filterDivisions = Object.entries(this.divisions).map(([k,v]) => ({
				label: v.label,
				options: v.options.map(option => ({
					division: option || 'N/D'
				}))
			}));

			if(this.selectedKingdoms && this.selectedKingdoms.length>0) {
				let kingdoms = this.selectedKingdoms
				filterDivisions = filterDivisions.filter(division => {
					if (kingdoms.includes(division.label)) return division
				});
			}

			if (!this.searchQueryDivision) return filterDivisions;
					
			return filterDivisions
				.map(group => ({
					...group,
					options: group.options
						.map(option => ({
							...option,
							division: option.division || 'N/D'
						}))
						.filter(option => option.division.toLowerCase().includes(this.searchQueryDivision.toLowerCase())
						),
				}))
				.filter(group => group.options.length > 0);
		},
		filteredOptionsOrder() {
			let filterOrders = Object.entries(this.orders).map(([k,v]) => ({
				label: v.label,
				options: v.options.map(option => ({
					order: option || 'N/D'
				}))
			}));

			if(this.selectedKingdoms && this.selectedKingdoms.length>0) {
				let kingdoms = this.selectedKingdoms
				filterOrders = filterOrders.filter(order => {
					if (kingdoms.includes(order.label)) return order
				});
			}

			if (!this.searchQueryOrder) return filterOrders;

			return filterOrders
				.map(group => ({
					...group,
					options: group.options
						.map(option => ({
							...option,
							order: option.order || 'N/D'
						}))
						.filter(option => option.order.toLowerCase().includes(this.searchQueryOrder.toLowerCase())),
				}))
				.filter(group => group.options.length > 0);
		},
		disabledItems() {
			// Check if data is already in localStorage
			const storedKingdoms = localStorage.getItem('searchKingdoms');
			const storedClasses = localStorage.getItem('searchClasses');
			const storedFamilies = localStorage.getItem('searchFamilies');
			const storedDivision = localStorage.getItem('searchDivisions');
			const storedOrders = localStorage.getItem('searchOrders')

			if (storedKingdoms && storedClasses && storedFamilies && storedDivision && storedOrders) {
				// If data is present, parse and return it
				return {
					kingdoms: JSON.parse(storedKingdoms),
					classes: JSON.parse(storedClasses),
					familia: JSON.parse(storedFamilies),
					division: JSON.parse(storedDivision),
					orders: JSON.parse(storedOrders)
				};
			} else {
				// Retrieve all unique kingdoms from speciesFetch
				const uniqueKingdomsInSpecies = [...new Set(this.speciesFetch.map(species => species.Regne ?? 'N/D'))];
				
				const uniqueClassInSpeciesSet = new Set(this.speciesFetch.map(species => ({
					classe: species.Classe ?? 'N/D',
					kingdom: species.Regne ?? 'N/D',
				})));
				const uniqueClassesInSpecies = [...uniqueClassInSpeciesSet].filter((value, index, self) =>
					self.findIndex(obj => obj.classe === value.classe && obj.kingdom === value.kingdom) === index
				);
				const groupedClasses = this.groupSpeciesByKingdom(uniqueClassesInSpecies);


				const uniqueFamInSpeciesSet = new Set(this.speciesFetch.map(species => ({
					classe: species.Classe ?? 'N/D',
					kingdom: species.Regne ?? 'N/D',
					fam: species.Família ?? 'N/D',
				})));
				const uniqueFamiliesInSpecies = [...uniqueFamInSpeciesSet].filter((value, index, self) =>
					self.findIndex(obj => obj.classe === value.classe && obj.kingdom === value.kingdom && obj.fam === value.fam) === index
				);
				const groupedFamilies = this.groupSpeciesByKingdomAndClass(uniqueFamiliesInSpecies);

				const uniqueDivisionInSpeciesSet = new Set(this.speciesFetch.map(species => ({
					kingdom: species.Regne ?? 'N/D',
					division: species.Divisió ?? 'N/D',
				})));
				const uniqueDivisionsInSpecies = [...uniqueDivisionInSpeciesSet].filter((value, index, self) =>
					self.findIndex(obj => obj.division === value.division) === index
				);
				const groupedDivisions = this.groupSpeciesByDivision(uniqueDivisionsInSpecies);

				const uniqueOrdersInSpeciesSet = new Set(this.speciesFetch.map(species => ({
					kingdom: species.Regne ?? 'N/D',
					order: species.Ordre ?? 'N/D'
				})));
				const uniqueOrdersInSpecies = [...uniqueOrdersInSpeciesSet].filter((value, index, self) => 
					self.findIndex(obj => obj.order === value.order) === index
				);
				const groupedOrders = this.groupSpeciesByOrder(uniqueOrdersInSpecies);

				localStorage.setItem('searchKingdoms', JSON.stringify(uniqueKingdomsInSpecies));
				localStorage.setItem('searchClasses', JSON.stringify(groupedClasses));
				localStorage.setItem('searchFamilies', JSON.stringify(groupedFamilies));
				localStorage.setItem('searchDivisions', JSON.stringify(groupedDivisions));
				localStorage.setItem('searchOrders', JSON.stringify(groupedOrders));

				return {
					kingdoms: uniqueKingdomsInSpecies,
					classes: groupedClasses,
					familia: groupedFamilies,
					division: groupedDivisions,
					orders: groupedOrders
				}
			}
		},
		filteredUniqueClassesInSpecies() {
			if (this.fetchSearchKingdoms) {
				this.disabledItems.kingdoms = this.fetchSearchKingdoms
			}
			if (this.fetchSearchClasses) {
				this.disabledItems.classes = this.fetchSearchClasses
			}
			if (this.fetchSearchFamilies) {
				this.disabledItems.familia = this.fetchSearchFamilies
			}
			if (this.fetchSearchDivisions) {
				this.disabledItems.division = this.fetchSearchDivisions
			}
			if (this.fetchSearchOrders) {
				this.disabledItems.orders = this.fetchSearchOrders
			}
			if (!this.searchQueryClass) return this.disabledItems.classes;

			const filteredList = Object.values(this.disabledItems.classes)
				.flat()
				.filter(species =>
					species.classe.toLowerCase().includes(this.searchQueryClass.toLowerCase())
				);

			return this.groupSpeciesByKingdom(filteredList);
		},
		filteredUniqueFamsInSpecies() {
			if (this.fetchSearchKingdoms) {
				this.disabledItems.kingdoms = this.fetchSearchKingdoms
			}
			if (this.fetchSearchClasses) {
				this.disabledItems.classes = this.fetchSearchClasses
			}
			if (this.fetchSearchFamilies) {
				this.disabledItems.familia = this.fetchSearchFamilies
			}
			if (this.fetchSearchDivisions) {
				this.disabledItems.division = this.fetchSearchDivisions
			}
			if (this.fetchSearchOrders) {
				this.disabledItems.orders = this.fetchSearchOrders
			}
			if (!this.searchQueryFam) return this.disabledItems.familia;

			const flattenedList = Object.values(this.disabledItems.familia)
				.map(classGroup => Object.values(classGroup).flat())
				.flat();

			const filteredList = flattenedList.filter(species =>
				species.fam.toLowerCase().includes(this.searchQueryFam.toLowerCase())
			);

			return this.groupSpeciesByKingdomAndClass(filteredList);
		},
		filteredUniqueDivisionInSpecies() {
			if (this.fetchSearchKingdoms) {
				this.disabledItems.kingdoms = this.fetchSearchKingdoms
			}
			if (this.fetchSearchClasses) {
				this.disabledItems.classes = this.fetchSearchClasses
			}
			if (this.fetchSearchFamilies) {
				this.disabledItems.familia = this.fetchSearchFamilies
			}
			if (this.fetchSearchOrders) {
				this.disabledItems.orders = this.fetchSearchOrders
			}
			if (!this.searchQueryDivision) return this.disabledItems.division;

			const flattenedList = Object.values(this.disabledItems.division)
				.map(classGroup => Object.values(classGroup).flat())
				.flat();

			const filteredList = flattenedList.filter(species => {
				if (species.division) {
					return species.division.toLowerCase().includes(this.searchQueryDivision.toLowerCase())
				}
			});

			return this.groupSpeciesByDivision(filteredList);
		},
		filteredUniqueOrderInSpecies() {
			if (this.fetchSearchKingdoms) {
				this.disabledItems.kingdoms = this.fetchSearchKingdoms
			}
			if (this.fetchSearchClasses) {
				this.disabledItems.classes = this.fetchSearchClasses
			}
			if (this.fetchSearchFamilies) {
				this.disabledItems.familia = this.fetchSearchFamilies
			}
			if (this.fetchSearchDivisions) {
				this.disabledItems.division = this.fetchSearchDivisions
			}
			if (!this.searchQueryOrder) return this.disabledItems.orders;

			const flattenedList = Object.values(this.disabledItems.orders)
				.map(classGroup => Object.values(classGroup).flat())
				.flat();

			const filteredList = flattenedList.filter(species =>
				species.order.toLowerCase().includes(this.searchQueryOrder.toLowerCase())
			);
			return this.groupSpeciesByOrder(filteredList);
		},
	},

	methods: {

		displayClassName(classe) {
			const count = this.selectedClasses.filter(c => c[1] === classe[1]).length;

			if (count > 1) {
				return `${classe[1]} (${classe[0]})`;
			} else {
				return classe[1];
			}
		},
		displayFamName(family) {
			const count = this.selectedFamilies.filter(f => f[1] === family[1]).length;

			if (count > 1) {
				return `${family[1]} (${family[0]})`;
			} else {
				return family[1];
			}
		},
		displayDivisionName(division) {
			const count = this.selectedDivisions.filter(d => d[1] === division[1]).length;

			if (count > 1) {
				return `${division[1]} (${division[0]})`;
			} else {
				return division[1];
			}
		},
		displayOrderName(order) {
			const count = this.selectedOrders.filter(o => o[1] === order[1]).length;

			if (count > 1) {
				return `${order[1]} (${order[0]})`;
			} else {
				return order[1];
			}
		},
		groupSpeciesByKingdom(speciesArray) {
			const grouped = {};
			for (const species of speciesArray) {
				if (!grouped[species.kingdom]) {
					grouped[species.kingdom] = [];
				}
				grouped[species.kingdom].push(species);
			}
			return grouped;
		},
		groupSpeciesByKingdomAndClass(speciesArray) {
			const grouped = {};
			for (const species of speciesArray) {
				const kingdomKey = species.kingdom ?? 'N/D';
				const classeKey = species.classe ?? 'N/D';

				if (!grouped[kingdomKey]) {
					grouped[kingdomKey] = {};
				}

				if (!grouped[kingdomKey][classeKey]) {
					grouped[kingdomKey][classeKey] = [];
				}

				grouped[kingdomKey][classeKey].push(species);
			}
			return grouped;
		},
		groupSpeciesByDivision(speciesArray) {
			const grouped = {};
			for (const species of speciesArray) {
				const kingdomKey = species.kingdom ? species.kingdom:  'N/D';

				if (!grouped[kingdomKey]) {
					grouped[kingdomKey] = [];
				}
				grouped[kingdomKey].push(species);
			}
			return grouped;
		},
		groupSpeciesByOrder(speciesArray) {
			const grouped = {};
			for (const species of speciesArray) {
				const kingdomKey = species.kingdom ? species.kingdom:  'N/D';
				if (!grouped[kingdomKey]) {
					grouped[kingdomKey] = [];
				}
				grouped[kingdomKey].push(species);
			}
			return grouped;
		},
		removeCategoryClass(index) {
			this.selectedClasses.splice(index, 1)
			document.querySelector('.dropdown-toggle').click();
			localStorage.setItem('selectedClasses', JSON.stringify(this.selectedClasses));

		},
		removeCategoryFam(index) {
			this.selectedFamilies.splice(index, 1)
			document.querySelector('.dropdown-toggle').click();
			localStorage.setItem('selectedFamilies', JSON.stringify(this.selectedFamilies));
		},
		removeCategoryDivision(index) {
			this.selectedDivisions.splice(index, 1)
			localStorage.setItem('selectedDivisions', JSON.stringify(this.selectedDivisions));
		},
		removeCategoryOrder(index) {
			this.selectedOrders.splice(index, 1)
			localStorage.setItem('selectedOrders', JSON.stringify(this.selectedOrders));
		},
		clearAllClass() {
			const databaseStore = useDatabaseStore();
			document.querySelector('.dropdown-toggle').click();
			this.selectedClasses = [];

			const KingdomsCheck = this.selectedKingdoms.length > 0;

			// Update Families with the selected class and kingdoms

			const kingdomsParam = this.selectedKingdoms.join(",");

			if (KingdomsCheck) {
				// Check if the selected kingdom matches the kingdom of all options in selectedClasses
				databaseStore.fetchFamilies(kingdomsParam);
				databaseStore.fetchClasses(kingdomsParam);
			} else {
				databaseStore.fetchClasses();
				databaseStore.fetchFamilies();
			}
			localStorage.removeItem('selectedClasses')


		},
		clearAllFam() {
			const databaseStore = useDatabaseStore();
			this.selectedFamilies = [];
			document.querySelector('.dropdown-toggle').click();
			localStorage.removeItem('selectedFamilies')
		},
		clearAllDivisions() {
			this.selectedDivisions = [];
			localStorage.removeItem('selectedDivisions')
		},
		clearAllOrders() {
			this.selectedOrders = [];
			localStorage.removeItem('selectedOrders')
		},
		handleUpdateHeaders(newHeaders) {
			this.tableHeaders = Object.assign([], newHeaders);
		},
	},



}
</script>

<style scoped>
.container {
	padding-top: 20px;
	/* Add some space between the search bar and the rest of the content */
	transition: all 0.3s ease;
	/* Add a transition to the container element for smooth adjustment */
}


.suggestions-list {
	margin-top: 1px;
	text-align: left;
	position: absolute;
	max-height: 200px;
	overflow-y: auto;
	width: 100%;
	/* Adjust the width to match the input's width */
	border: 1px solid #ced4da;
	/* Add a border for better visibility */
	border-radius: 0 0 5px 5px;
	/* Adjust border radius to match the input */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	/* Add a subtle box shadow */
}

.suggestion-item {
	cursor: pointer;
}

.suggestion-item span {
	font-size: 13px;
}

.suggestion-item:hover {
	cursor: pointer;
	background-color: #dbdbdb;
}

.form-control:focus {

	background-color: transparent;
	border-color: #3C653E;
	/* Change this to the desired color */
	box-shadow: 0 0 0 0.1rem rgba(60, 101, 62, 0.5);
	;
	/* Change this to the desired color */
}

.dark-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	/* Dark semi-transparent background */
	z-index: 999;
	/* Ensure it's above other elements */
}

/* Suggestions list transitions */
.list-enter-from {
	opacity: 0;
	transform: translateY(-20px);
	/* Slide up 20px initially */
}

.list-enter-active,
.list-leave-active {
	transition: all 0.6s ease;
}

.list-move {
	transition: all 0.6s ease;
}

.list-enter-to,
.list-leave-from {
	opacity: 1;
	transform: translateY(0);
	/* Slide down to the original position */
}

.list-leave-to {
	opacity: 0;
	transform: translateY(-20px);
	/* Slide up 20px when disappearing */
}

.suggestions-transition {
	transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
	position: relative;
	z-index: 1000;
	margin-top: -18px;
	/* Set a high z-index value */
	/* cubic-bezier(0.42, 0, 0.58, 1) is an easing function that starts slowly, accelerates in the middle, and slows down at the end */
}

/* Slide-up-down transitions for the options menus */
.slide-up-down-enter-active,
.slide-up-down-leave-active {
	transition: height 0.3s ease, opacity 0.3s ease;
}

.slide-up-down-enter,
.slide-up-down-leave-to {
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.slide-up-down-move {
	transition: all 0.3s ease;
}

.options-dropdown {
	position: relative;
}

.options-list {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	max-height: 200px;
	overflow-y: auto;
	background-color: #ffffff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #e5e5e5;
	border-top: none;
	border-radius: 0 0 4px 4px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	overflow-y: auto;
	max-height: 200px;
}

.options-list.active {
	opacity: 1;
	visibility: visible;
}

.option-item {
	cursor: pointer;
	padding: 8px 16px;
	transition: background-color 0.3s ease;
}

.option-item:hover {
	background-color: #f5f5f5;
}

.container-king {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-height: 250px;
	overflow-y: auto;
	overflow-x: auto;
	border: 1px solid #e5e5e5;
	padding: 5px;
	margin-bottom: 5%;
}

.form-check {
	text-align: left;
	margin-bottom: 5px;
}

/* Custom switch style */
.custom-switch .form-check-input:checked {
	background-color: #3C653E;
	/* Checked background color */
	border-color: #3C653E;
	/* Checked border color */
}

.custom-switch .form-check-input:checked:focus {
	background-color: #3C653E;
	/* Checked background color on focus */
	box-shadow: 0 0 0 0.2rem rgba(60, 101, 62, 0.5);
	/* Checked box shadow on focus */
}

.custom-switch .form-check-input:not(:checked) {
	background-color: white;
	/* Unchecked background color on focus */
	border-color: #3C653E;
	/* Unchecked border color on focus */

}

.custom-switch .form-check-input:not(:checked):focus {
	background-color: #3C653E;
	/* Unchecked background color on focus */
	box-shadow: 0 0 0 0.2rem rgba(60, 101, 62, 0.5);
	/* Unchecked box shadow on focus */
}

.search-form-container {
	position: relative;
}

/* Alert Search Input */

.toastAlert {
	position: absolute;
	top: 100%;
	/* Adjust as needed */
	left: 0;
	width: 100%;
	z-index: 999;
	margin-top: 3%;
}

.toast-enter-active {
	margin-bottom: 20px;
	animation: wobble 0.5s ease;
	z-index: 999;
}


.toast-leave-to {
	opacity: 0;
	transform: translateY(-60px);
	;
}

.toast-leave-active {
	transition: all 0.5s ease;

}

@keyframes wobble {
	0% {
		opacity: 0;
		transform: translateY(-60px);
	}

	50% {
		opacity: 1;
		transform: translateY(0);
	}

	60% {
		transform: translateX(8px);
	}

	70% {
		transform: translateX(-8px);
	}

	80% {
		transform: translateX(4px);
	}

	90% {
		transform: translateX(-4px);
	}

	100% {
		transform: translateX(0);
	}

}

/* Custom Font Awesome size for 2xl */
.font-awesome-2xl {
	font-size: 8em;
	margin-bottom: 25px;
}


/* search transitions */
.fade-enter-from {
	opacity: 0;
}

.fade-enter-to {
	opacity: 1;
}

.fade-enter-active {
	transition: all 0.5s ease;
}

.fade-leave-from {
	opacity: 1;
}

.fade-leave-to {
	opacity: 0;
}

.fade-leave-active {
	transition: all 0.5s ease;
}

::placeholder {
	font-size: small;
}


/* MUltiselct selctors css */
.dropdown-item:focus,
.dropdown-item:hover {
	background-color: inherit;
	color: inherit;
}

/* Add space between checkboxes and labels */
.list-unstyled input[type="checkbox"] {
	margin-right: 8px;
}

.form-check-input:checked.cl,
.form-check-input:focus.cl {
	background-color: green;
	border-color: green;
	box-shadow: 0 0 0 0.2rem rgba(60, 101, 62, 0.5);
}

.form-check-input.cl {
	margin-left: 5px;
}

/* Additional styles for selected tags */
.selected-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	overflow-y: auto;
	max-height: 150px;
	min-height: 10px;
}

.selected-tags .badge {
	white-space: nowrap;
	padding: 0 0 0 8px;

}

.selected-tags .badge button {
	margin-left: 4px;

}

.btn-outline-danger {
	padding: 1px 5px 1px 5px;
}

/* Custom styles for the dropdown menu */
.dropdown-menu.show~.dropdown-toggle,
.dropdown-toggle:focus,
.btn-outline-secondary {
	background-color: #f8f9fa !important;
	border-color: #ced4da !important;
	color: #495057 !important;

}


/* Fix dropdown position */
.dropdown-menu {
	/* position: absolute; */
	width: 100%;
	max-height: 300px;
	overflow-y: auto;


}



#dropsearch {
	border-color: green;
}

#dropsearch:focus {
	border-color: green;
	box-shadow: 0 0 0 0.2rem rgba(60, 101, 62, 0.5);
}

.classdrop {
	margin-bottom: 15%;
}

/* Custom styles for the multiselect dropdown */
.custom-multiselect {
	width: 100%;
	/* height: 120px; */
}

.custom-multiselect .dropdown-menu {
	max-width: 200px;
}

.disclaimer {
	max-width: 100%;
	overflow-wrap: break-word;
	color: #6c757d;

}

#disclaimer {
	text-decoration: underline;
	transition: color 0.3s;
	color: #6c757d;
}

#disclaimer:hover {
	color: #0d6efd;
}

.modal-body {
	text-align: justify;
}

.clear-icon {
	position: absolute;
	font-size: xx-large;
	top: 50%;
	right: 110px;
	/* Adjust as needed */
	transform: translateY(-50%);
	cursor: pointer;
	color: #999;
	z-index: 777;
}

.clear-icon:hover {
	color: #616060;
}

#button-addon2 {
	border-radius: 0 15px 15px 0;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

input[type=search]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

.btn-outline-success {
	color: #3C653E;
	border-color: #3C653E;

}

.btn-outline-success:disabled {
	color: lightgray;
	border-color: lightgray;
	background-color: #999;

}

.btn-outline-success:hover {
	color: white;
	border-color: #3C653E;
	background-color: #3C653E;

}

.loader-text {
	background: linear-gradient(
    to left,
    #3C653E 0%,
    #3C653E 50%,
    #999 50%,
    #999 100%	
	);
	background-size: 200% auto;
	font-size: large;
	font-weight: bold;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-position: 100% center;
	animation: loader 5s linear infinite;
}
@keyframes loader {
    0% {
		background-position: 200% center;
    }
    100% {
		background-position: 100% center;
    }
}
</style>