<template>

<div class="container statistical-data ">
  <div class="row mb-3">
    <div class="col-12">
      <p>
        {{ $t('data.paragraph1') }}
      </p>
      <p>
        {{ $t('data.paragraph2') }}
      </p>
      <p>
        {{ $t('data.paragraph3') }} 
      </p>
      <p>
        {{ $t('data.paragraph4-1') }}<strong><a class="text-links" target="_blank" href="https://ichn.iec.cat/cataleg-de-la-biodiversitat-de-catalunya/">{{ $t('data.link-1') }}</a></strong>
        {{ $t('data.paragraph4-2') }}
      </p>
      <p>
        {{ $t('data.paragraph5') }}
      </p><br>
      <h4>
        {{ $t('data.subtitle1') }}
      </h4>
    </div>
  </div>

  <!-- Pie Chart -->
  <div class="row mb-4">
    <dd class="mb-3">
      <dt>{{ $t('data.subtitle2') }}</dt>
      {{ $t('data.description1') }}
    </dd>
    <div class="chart-container mt-3" >
      <div style="position: relative;" v-if="!statisticalData" class="spinner-container">
        <font-awesome-icon :icon="['fas', 'spinner']" spin class="spinner"/>
      </div>
      <div v-else class="piechart-wrapper">
        <PieChart :data="statisticalData[0]"></PieChart>
      </div>
    </div>
  </div><br>

  <!-- graph 2 -->
  <div class="row mb-4">
    <dd class="mb-4">
      <dt>{{ $t('data.subtitle3') }}</dt>
      {{ $t('data.description2') }}
    </dd>
    <div>
      <img class="img-diversidad" src="@/assets/Numeros-scaled.jpg" alt="ICHN">
    </div>
  </div>

</div>
</template>


<script>
import { computed, onBeforeMount, ref, mounted, onMounted } from 'vue'
import { useDatabaseStore } from "@/stores/database";
import PieChart from '@/components/statisticalData/PieChart.vue';

export default {
  name: 'BarChart',
  components: {
		PieChart
	},
  setup() {
    const databaseStore = useDatabaseStore();
    const statisticalData = computed(() => databaseStore.statisticalData);

    onBeforeMount(async () => {
      await databaseStore.fetchStatisticalData();  
    });

    return {
      statisticalData,
    }
  }
}

</script>


<style scoped>
.statistical-data {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-size:large;
  text-align: left;
}
.align-left {
  text-align: left;
}

.align-center {
  text-align:center;
}

.text-links {
  color: rgb(18, 17, 17) !important;
  text-decoration: none !important;
}

.img-diversidad{
  max-width: 100%;
}

.spinner-container {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner{
    color: #3c653e;
    width: 3rem;
    height: 3rem;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.piechart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

</style>
