<template>
  <div class="accordion my-4" id="accordion">
    <div class="div-info-db my-3">
      <div class="accordion-item">
        <div class="accordion-header" :id="'heading'">
          <button
            class="accordion-button collapsed"
            type="button"
            :data-bs-toggle="'#collapse'"
            :aria-expanded="openAccordionIndex === 0 ? 'true' : 'false'"
            :aria-controls="'collapse'"
            @click="toggleAccordion(0)"
          >
            <h3 class="fw-bold">{{ $t('results.phyloTree') }}</h3>
          </button>
        </div>
        <div :id="'collapse'" class="accordion-collapse collapse smooth-scroll" :aria-labelledby="'heading'" data-bs-parent="#accordion">
          <div class="accordion-body">
            

            <!-- FAMILY MENU -->
            <div class="filter-family ">
              <div class="classdrop mb-2">
								<div class="dropdown">
                  <button type="button"
										class="btn btn-outline-secondary dropdown-toggle custom-multiselect"
										data-bs-toggle="dropdown" aria-expanded="false" @click.prevent="">

                    <span v-if="selectedFamily.length > 0" class="selected-tags">
                      <span v-for="(family, index) in selectedFamily" :key="index" class="badge text-bg-success me-2">
                        {{ family }}
                        <button @click.stop="removeCategory(index)" class="btn text-bg-success btn-sm ms-1">
                          &times;
                        </button>
                      </span>

                      <!-- Move the "Clear All" button to the end -->
											<button @click.stop="clearAll" class="btn btn-outline-danger btn-sm">{{
													$t("species.clearall") }}</button>

                    </span>
										<span v-else> {{ $t("results.select")}} </span>
                  </button>
                  <ul class="dropdown-menu" style="max-height: 200px; overflow-y: auto;">
                    <li class="dropdown-item">
											<!-- Search input inside the dropdown -->
                      <input id="dropsearch" v-model="searchQuery" type="text"
												class="form-control mb-2" placeholder="Search...">

                        <strong v-if="filteredOptions.length === 0 && searchQuery">No results
												found</strong>

                      <!--  -->
                      <ul class="list-unstyled">
                        <li v-for="option in filteredOptions" :key="option" class="mb-2">
                          <!-- {{ option }} -->
                          <input class="form-check-input cl" type="checkbox"
                          :id="`${option}`" :value="option"
                          @change="selectFamily(option)"
                          :checked="isChecked(option)">
                          <label :for="`${option}`" class="ms-2"> {{ option || 'N/D' }}</label>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <br/>
            <!-- Tree Container-->
            <div class="tree-container" v-if="databaseStore.phylotree && databaseStore.phylotree.length">
              <!-- Tree -->
              <div class="border" id="classTree">
                <!-- Botones de zoom -->
                <div class="btn-group btn-group-zoom p-2" role="group" aria-label="Basic mixed styles example">
                  <button class="btn btn-outline-success btn-sm" @click="zoomIn"><strong>&#43;</strong></button>
                  <button class="btn btn-outline-success btn-sm" @click="zoomOut"><strong>&#45;</strong></button>
                  <button class="btn btn-outline-success btn-sm" @click="toggleInternalLabels">
                    <strong v-if="!internalLabelsVisible">{{ $t('results.familytreebtn1') }}</strong>
                    <strong v-else>{{ $t('results.familytreebtn2') }}</strong>
                  </button>


                
                </div>
              </div>
            </div>
            <div v-else>
              <p>Loading tree data...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PhylocanvasGL, { TreeTypes } from "@/phylocanvas/phylocanvas.js";

import { useDatabaseStore } from "@/stores/database";
import { computed, onMounted,onBeforeMount, ref, watch} from 'vue';

export default {
  name: 'ClassTree',
  props: {
    Classe: String,
    TaxId: String,
    Specie: String,
    Family: String,
  },
  setup(props) {
    const databaseStore = useDatabaseStore();

    // Filtered FAMILY
		const allFamilies = computed(() => databaseStore.allFamilies);
    const selectedFamily = ref([])
		const searchQuery = ref('');

    // Zoom
    let zoom = 1;
    const showInternalLabels = ref(false);

    // Tree
    let treeInstance = null;
    // Accordion
    let openAccordionIndex = ref(null);


    onBeforeMount(async () => {
      const classeValue = props.Classe; 
			await databaseStore.fetchAllFamilies(classeValue);

      // Filter and select families
      const familyValue = props.Family 

      let selectedFamilies = filterAndSelectFamilies(familyValue);
      selectedFamilies = selectedFamilies.map(family => family === null ? "N/D" : family);

      // Preparar las familias para el filtro
      selectedFamily.value = selectedFamilies;
      const allFamiliesselected = selectedFamily.value;
      const familiesString = allFamiliesselected.join(",");
      
      await databaseStore.fetchPhylotree(classeValue, familiesString);
      updateTree();
		});


    const filterAndSelectFamilies = (providedFamily) => {
      const allFamilies = databaseStore.allFamilies;

      if (!Array.isArray(allFamilies) || allFamilies.length === 0) {
        console.error('Invalid or empty array of families.');
        return [];
      }
      // Find the index of the provided family
      const providedFamilyIndex = allFamilies.findIndex(
        (family) => family && family.toLowerCase() === providedFamily.toLowerCase() || (family === null && providedFamily === null));

      if (providedFamilyIndex === -1) {
        console.error('Provided family not found in the array.');
        return [];
      }
      // Select 5 families before and 5 families after the provided family
      const startIdx = Math.max(0, providedFamilyIndex - 4);
      const endIdx = Math.min(allFamilies.length - 1, providedFamilyIndex + 5);
      const selectedFamilies = allFamilies.slice(startIdx, endIdx + 1);

      return selectedFamilies;
    };


    const updateTree = () => {
      // Delete previous tree if it exists
      if (treeInstance) {
        treeInstance.destroy();
      }
      const treeData = databaseStore.phylotree;

      if (treeData) {
        treeInstance = new PhylocanvasGL(document.querySelector("#classTree"), {
          source: treeData,
          size: { width: 850, height: 900 },
          type: TreeTypes.Rectangular,
          interactive: true,

          // LABELS
          showLabels: true,
          showLeafLabels: true,
          fontColour: [7, 13, 8, 255],
          fontSize: 15,
          fontFamily: 'Helvetica',

          // NODE
          nodeSize: 10,
          fillColour: "#162617",
          selectedIds: [props.Specie],

          // BRANCH
          highlightColour: [ 0, 143, 57, 255 ],

          // ZOOM
          zoom: 0
          // branchZoom: 0.1
          // stepZoom:2
        });
      }
    };

    const toggleInternalLabels = () => {
      showInternalLabels.value = !showInternalLabels.value;
      if (treeInstance) {
        treeInstance.setProps({ showInternalLabels: showInternalLabels.value });
      }
      return showInternalLabels.value;
    };
    // Create a computed property to expose the reactive value
    const internalLabelsVisible = computed(() => showInternalLabels.value);



    // ZoomIn
    const zoomIn = () => {
      zoom += 0.1;
      updateTreeZoom();
    };

    // ZoomOut
    const zoomOut = () => {
      zoom -= 0.1;
      updateTreeZoom();
    };

    const updateTreeZoom = () => {
      if (treeInstance) {
        treeInstance.setProps({ zoom });
      }
    };

    // Filtered
    const isChecked = (option) => {
      const checkboxId = option === null ? "N/D" : option;
      return selectedFamily.value.includes(checkboxId);
    };

    // Update phylogenetic tree based on selected species
    const selectFamily = async (option) => {
      const checkboxId = option === null ? "N/D" : option;

      // Check if the option is already in selectedFamily
      const optionExists = selectedFamily.value.includes(checkboxId);

      if (optionExists) {
        selectedFamily.value = selectedFamily.value.filter(f => f !== checkboxId);
      }else{
        selectedFamily.value.push(checkboxId);
      }

      const allFamiliesselected = selectedFamily.value;
      const familiesString = allFamiliesselected.join(",");
      if (familiesString !== '') {
        // Llamar a fetchPhylotree y actualizar el árbol
        const classeValue = props.Classe;
        await databaseStore.fetchPhylotree(classeValue, familiesString);
        updateTree();
      }else {
        const classeValue = props.Classe;
        await databaseStore.fetchPhylotree(classeValue);
        updateTree();
      }
    }

    const removeCategory = async (index) => {
      selectedFamily.value.splice(index, 1);

      // Build the filter with families
      const allFamiliesselected = selectedFamily.value;
      const familiesString = allFamiliesselected.join(",");

      if (familiesString !== '') {
        // Call fetchPhylotree and update the tree
        const classeValue = props.Classe;
        await databaseStore.fetchPhylotree(classeValue, familiesString);
        updateTree();
      }else {
        const classeValue = props.Classe;
        await databaseStore.fetchPhylotree(classeValue);
        updateTree();
      }
    };

    const clearAll = async () => {
      selectedFamily.value = [];
      // Call fetchPhylotree and update the tree
      const classeValue = props.Classe;
        await databaseStore.fetchPhylotree(classeValue);
        updateTree();
    };


    /**
     * Toggles the accordion to open or close based on the provided index.
     * @param {number} index - The index of the accordion to toggle.
     */
    const toggleAccordion = (index) => {
      if (openAccordionIndex.value === index) {
        closeAccordion(index);
        openAccordionIndex.value = null;
      } else {
        if (openAccordionIndex.value !== null) {
          closeAccordion(openAccordionIndex.value);
        }
        openAccordionIndex.value = index;
        openAccordion(index);
        scrollToAccordion(index);
      }
    };

    /**
     * Closes the accordion specified by the index.
     * @param {number} index - The index of the accordion to close.
     */
    const closeAccordion = (index) => {
      const accordionElement = document.querySelector(`#collapse`);
      if (accordionElement) {
        accordionElement.classList.remove("show");
      }
    };

    /**
     * Opens the accordion specified by the index.
     * @param {number} index - The index of the accordion to open.
     */
    const openAccordion = (index) => {
      const accordionElement = document.querySelector(`#collapse`);
      if (accordionElement) {
        accordionElement.classList.add("show");
      }
    };

    /**
     * Scrolls to the accordion specified by the index with a smooth animation.
     * @param {number} index - The index of the accordion to scroll to.
     */
    const scrollToAccordion = (index) => {
      const accordionElement = document.querySelector(`#collapse`);
      if (accordionElement) {
        accordionElement.scrollIntoView({
          behavior: "smooth",
          block: "start",
        });
      }
    };

    return {
      databaseStore,
      zoomIn,
      zoomOut,
      toggleAccordion,
      closeAccordion,
      openAccordion,
      scrollToAccordion,
      allFamilies,
      selectedFamily,
      selectFamily,
      searchQuery,
      isChecked,
      updateTree,
      removeCategory,
      clearAll,
      toggleInternalLabels,
      internalLabelsVisible,
    };
  },
  computed: {
    filteredOptions() {
      if (!this.searchQuery) return this.allFamilies;

      return this.allFamilies
        .map(option => option || 'N/D')
        .filter(option =>
          option.toLowerCase().includes(this.searchQuery.toLowerCase())
        );
    },

  },
  data() {
    return {
      openAccordionIndex: 0,
    };
  },
  mounted() {
    // Check if the tree-container class is present
    const isTreeContainerFound = document.querySelector('.tree-container') !== null;
    // Emit an event with the result
    this.$emit('treeContainerFound', isTreeContainerFound);
    // Open the accordion initially
    this.openAccordion(this.openAccordionIndex);
  },


};
</script>

<style scoped>
.contenedor-tree {
  position: relative;
  display: inline-block;
  margin-right: auto;
  margin-top: 50px; /* Ajusta el margen superior para dejar espacio para el desplegable */
}

.btn-group-zoom {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.filter-family {
  text-align: center;
}

/* MUltiselct selctors css */
.dropdown-item:focus,
.dropdown-item:hover {
	background-color: inherit;
	color: inherit;
}

/* Add space between checkboxes and labels */
.list-unstyled input[type="checkbox"] {
	margin-right: 8px;
}

.form-check-input:checked.cl,
.form-check-input:focus.cl {
	background-color: green;
	border-color: green;
	box-shadow: 0 0 0 0.2rem rgba(60, 101, 62, 0.5);
}

.form-check-input.cl {
	margin-left: 5px;
}

/* Additional styles for selected tags */
.selected-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	max-height: 70px;
	overflow-y: auto;
	margin-top: 8px;
}

.selected-tags .badge {
	white-space: nowrap;
	padding: 0 0 0 8px;

}
.btn-outline-danger {
	padding: 1px 5px 1px 5px;
}

.selected-tags .badge button {
	margin-left: 4px;

}

/* Custom styles for the dropdown menu */
.dropdown-menu.show~.dropdown-toggle,
.dropdown-toggle:focus,
.btn-outline-secondary {
	background-color: #f8f9fa !important;
	border-color: #ced4da !important;
	color: #495057 !important;
}

/* Fix dropdown position */
.dropdown-menu {
	position: absolute;
	width: 100%;
	transform: translateY(calc(100% + 8px));
  z-index: 1000; /* Asegura que el desplegable esté por encima de otros elementos */
}

/* Ensure dropdown stays centered */
.dropdown.show {
	left: 50%;
	transform: translateX(-50%) translateY(calc(100% + 8px));
}

#dropsearch {
	border-color: green;
}

#dropsearch:focus {
	border-color: green;
	box-shadow: 0 0 0 0.2rem rgba(60, 101, 62, 0.5);
}

.classdrop {
	margin-bottom: 50%;
}

/* Custom styles for the multiselect dropdown */
.custom-multiselect {
	width: 100%;
	height: 100px;
}

.custom-multiselect .dropdown-menu {
	max-width: 200px;
}

/* Scroll */
.smooth-scroll {
  scroll-behavior: smooth;
}

/* Agrega una transición suave a la clase "accordion-collapse" */
.accordion-collapse {
    transition: max-height 0.3s ease-in-out; /* Ajusta la duración y la curva de aceleración según tu preferencia */
}

.collapse-transition {
  transition: max-height 50s ease-in-out;
}

/* Style when the accordion is collapsed */
.accordion-button:not(.collapsed) {
  background-color: #9DB29F ;
  color: black;
  border-color: #FFFFFF;
	/* Change this to the desired color */
	box-shadow: 0 0 0 0.2rem rgba(255, 255, 255);
}

/* Styling when the accordion is open */
.accordion-button.collapsed {
  background-color: #9DB29F;
  border-color: white;
	/* Change this to the desired color */
	box-shadow: 0 0 0 0.2rem white;
}

/* styles on mouseover */
.accordion-button:hover {
  background-color: #B6C5B7; 
  color: black;
  border-color: #3C653E;
	/* Change this to the desired color */
	box-shadow: 0 0 0 0.2rem rgba(60, 101, 62, 0.5);
  /* color: white; */
}
</style>
