<template>

    <!-- Show Images -->
    <template v-if="images['INFORMACIÓ COMPLEMENTÀRIA'].Image_urls && images['INFORMACIÓ COMPLEMENTÀRIA'].Image_urls.length > 0">
        <!-- Image -->
        <div class="img-container m-3" v-if="images['INFORMACIÓ COMPLEMENTÀRIA'].Image_urls.length === 1">
          <img class="img-specie" :src="images['INFORMACIÓ COMPLEMENTÀRIA'].Image_urls[0]" alt="Imagen">
        </div>

        <!-- new carousel -->
        <div class="img-container m-3" v-else>
          <div id="carouselSpecie" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div v-for="(imageUrl, index) in images['INFORMACIÓ COMPLEMENTÀRIA'].Image_urls" :key="index" class="carousel-item" :class="{ active: index === 0 }">
                <img class="img-specie" :src="imageUrl" alt="Imagen">
              </div>
            </div>
            <a class="carousel-control-prev top-140" href="#carouselSpecie" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next top-140" href="#carouselSpecie" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
          </div>
        </div>
        
      </template>
      <template v-else>
        <div class="img-container m-3" v-if="kingdom">
          <img class="img-specie" :src="require(`@/assets/kingdom_img/${kingdom}.jpg`)" alt="Default image for this species">
        </div>
        <div class="img-container m-3" v-else>
          <img class="img-specie" src="@/assets/kingdom_img/ND.jpg" alt="Default image for this species">
        </div>

      </template>
      <div class="mx-2">
        <a-popover trigger="hover" placement="right">
          <template  #content >
            <div class="div-popover">
              <p><strong>{{ $t('results.titleCredits') }}</strong></p>
              <p>{{ $t('results.text1') }}</p>
              <ul>
                <li><a href="https://www.gbif.org/" target="_blank">GBIF:</a>{{ $t('results.item1') }}</li>
                <li><a href="https://commons.wikimedia.org/wiki/Main_Page" target="_blank">Wikimedia Commons:</a>{{ $t('results.item2') }}</li>
                <li><a href="https://pixabay.com/" target="_blank">Pixabay:</a>{{ $t('results.item3') }}</li>
              </ul>
              <p>{{ $t('results.text2') }}</p>
            </div>
          </template>

          <a class="text-muted credits-images"><small> {{ $t("results.creditsImages") }} </small></a>
        </a-popover>
      </div>
</template>

<script>

export default {
    props: {
        images: Object,
        kingdom: String,
    }
}

</script>

<style scoped>

.img-container {
  height: 280px; 
  overflow: hidden; /* Hides any part of the image that overflows the container */
}

.img-specie {
  height: 100%;
  object-fit: contain;
  object-position: center; 
}

.carousel-control-prev{
  align-items: normal;
  top: 140px;
}

.carousel-control-next{
  align-items: normal;
  top: 140px;
}

.div-popover {
  width: 330px;
}

.credits-images {
  color: black;
  font-style: italic;
  text-decoration: none !important;
}

</style>
