<template>
    
    <!-- ------------ Other Data -------------- -->
    <div v-if="accordionData">
    <div v-for="(objectD, index) in accordionData" :key="index">
        <div v-if="objectD">
            <div class="div-info-db grid-container my-3">

                <div class="grid-item mb-3">
                    <h3 class="fw-bold section-header">{{ objectD.Source }}</h3>
                    <hr class="hr" />

                    <div>
                        <template  v-for="(value, key) in objectD" :key="key">
                            <template v-if="key === 'Error'">
                                <h5 class="mx-5 pb-3"><strong>{{ key }}:</strong> {{ $t('results.errorNCBI') }} </h5>
                            </template>
                            <template  v-if="value !== '' && value !== null && key !== 'Linaje' && key !== 'pageId' && key !== 'Source' && key !== 'Error'">
                                
                                <!-- UICN -->
                                <template v-if="compareUICN(key)">
                                <h5 class="mx-5 pb-3"><strong>{{ key }}:</strong> <UICN :Llegenda="value"/> </h5>
                                </template>
                                <!-- The rest of the data -->
                                <h5 class="mx-5 pb-3" v-if="!compareUICN(key) && !endsWithSnippet(key)"><strong>{{ key }}:</strong> {{ value.replace(/<[^>]+>/g, '') }}</h5>

                                <template v-if="endsWithSnippet(key)">
                                    <h5 class="mx-5 pb-3"><strong>{{ key }}:</strong> {{ value.replace(/<[^>]+>/g, '') + '...'}}
                                        <!-- Link Wikepedia -->
                                        <a :href="`https://${currentLanguage}.wikipedia.org/?curid=${objectD.pageId}`" target="_blank">+</a>
                                    </h5>
                                </template>
                            </template>
                        </template>
                        <!-- Link -->
                        <div v-for="(value, key) in objectD" :key="key" class="mx-4 mb-3 fst-italic">
                            <template v-if="key == 'TaxId'">
                                <h5 class="mx-4 mb-4 fst-italic"><a :href="`https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=${value}`" target="_blank"> NCBI ➟ {{ nameSpecie }}</a></h5>
                            </template>
                            <template v-else-if="key == 'GbifId'">
                                <h5 class="mx-4 mb-4 fst-italic"><a :href="`https://www.gbif.org/es/occurrence/${value}`" target="_blank"> GBIF ➟ {{ nameSpecie }}</a></h5>
                            </template>
                            <template v-else-if="key === 'pageId'">
                                <h5 class="mx-4 mb-4 fst-italic"><a :href="`https://${currentLanguage}.wikipedia.org/?curid=${value}`" target="_blank">Wikipedia ➟ {{ nameSpecie }}</a></h5>
                            </template>
                        </div>
                            
                    </div>
                </div>               
            </div>
        </div>
        
        
    </div>
    </div>    

</template>

<script>
import UICN from "@/components/species/UICNRedList.vue";

export default {
    props:{
        accordionData: Object,
        nameSpecie: String
    },
    components: {
        UICN,
    },
    methods: {
        /**
         * Compares a string to check if it begins with 'UICN' or 'iucn'.
         * @param {string} value - The string to be compared.
         * @returns {boolean} - Returns true if the string starts with 'UICN' or 'iucn', otherwise false.
         */
        compareUICN(value) {
            const regex = /^(UICN|iucn)/;
            return regex.test(value);
        },
        /**
         * Compare a string to see if it ends with 'Snippet'
         * @param {string} value - The string to be compared.
         * @returns {boolean} - Returns true if the string ends with 'Snippet', false otherwise.
         */
        endsWithSnippet(value) {
            const regex = /Snippet$/;
            return regex.test(value);
        },
    },
    computed: {
        // Get the current language selected from i18n settings
        currentLanguage() {
            return this.$i18n.locale; 
        },
    },
}

</script>

<style scoped>
.div-info-db {
  text-align: left;
}
.section-header {
  color: #4F7451;
  text-align: left;
}
a {
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.grid-container {
  display: grid;
  gap: 16px;
}

.grid-item {
  background: #f9f9f9;
  padding: 14px;
  border-radius: 8px;
}

.img-noData {
  width: 130px;
  height: 130px;
}
</style>
