<!-- RESULTS COMPONENT -->

<template>
  <div class="row ">
    <!-- TITLE -->
    <div class="col btn-back">
      <button class="btn btn-back-h mt-4" @click="btnback">
        <font-awesome-icon :icon="['fas', 'backward']" size="xl" style="color: #3C653E;" />{{ "&nbsp" }}{{
          $t("species.list") }}
      </button>
    </div>
    <div class="col-6">
      <h1 class="fw-bold my-3"><em>{{ result[0]['TAXONOMIA'].Espècie }}</em></h1>
    </div>
    <div class="col"></div>
    <hr class="hr" />

    <div class="col-lg-12 order-lg-1">

      <!-- Tabs -->
      <div class="container mt-2">
        <div class="row">
          <div class="col-md-3 col-sm-12 mb-3">
            <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="v-pills-principal-tab" data-bs-toggle="pill" href="#v-pills-principal" role="tab" aria-controls="v-pills-principal" aria-selected="true">
                  <h5><font-awesome-icon :icon="['fas', 'home']" class="me-1"/> {{ $t('results.principalData') }} </h5>
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="v-pills-additional-tab" data-bs-toggle="pill" href="#v-pills-additional" role="tab" aria-controls="v-pills-additional" aria-selected="false">
                  <h5><font-awesome-icon :icon="['fas', 'file-lines']" class="me-1"/> {{ $t('results.otherData') }} </h5>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-9 col-sm-12">
            <div class="tab-content" id="v-pills-tabContent">
              <!-- Principal Data -->
              <div class="tab-pane fade show active border px-4 py-2" id="v-pills-principal" role="tabpanel" aria-labelledby="v-pills-principal-tab">

                <!-- Show Main data -->
                <div class="div-info-db my-3" v-if="Object.keys(result).length > 0">
                  
                  <div class="grid-container">
                    <template v-for="(value, key) in result[0]" :key="key">
                      <div class=" grid-item mb-3" v-if="shouldDisplay(value)">

                        <!-- Condition to display the key -->
                        <template v-if="key === 'LEGISLACIÓ'">
                          <router-link class="link" to="/legislation">
                            <h4 class="fw-bold data_section_key p-2">{{ key }} 
                              <font-awesome-icon :icon="['fas', 'arrow-up-right-from-square']" class="small-icon ms-2"/>
                            </h4>
                          </router-link>
                        </template>
                        <template v-else>
                          <h4 class="fw-bold data_section_key p-2">{{ key }}</h4>
                        </template>
                        <hr class="my-2" />



                        <div v-for="(val, k) in value" :key="k">
                          <template v-if="k !== 'Image_urls' && k !== 'Pertany_A' && k !== 'TaxId' && k !== 'GbifId' && val !== '' && val !== null">
                            <!-- UICN -->
                            <template v-if="compareUICN(k)">
                              <h5 class="mx-5 pb-3"><strong>{{ k }}:</strong>
                                <UICN :Llegenda="val" />
                              </h5>
                            </template>
                            <!-- The rest of the data -->
                            <h5 class="mx-5 pb-3" v-else>
                              <strong class="me-1">
                                {{ k === 'Contribuïdors' ? 'Dades facilitades per' : 
                                k === 'Data de recol·lecció de les dades' ? 'Data d’obtenció de les dades' : k }}:
                              </strong>
                              <span v-if="k === 'Espècie'"><i>{{ val }}</i></span>
                              <span v-else>{{ val }}</span>
                            </h5>
                          </template>
                        </div>
                        
                      </div>
                    </template>
                  </div>
                </div>

                <!-- Images -->
                <!-- <div class="col-4">
                  <div class="mx-3 my-3">
                    <ImageGallery :images="result[0]" :kingdom="result[0]['TAXONOMIA'].Regne" />
                  </div>
                </div> -->

              </div>

              <!-- -------------------------------------------------------------------------------------------------------- -->
              <!-- Additional Data -->
              <div class="tab-pane fade border px-4 py-2" id="v-pills-additional" role="tabpanel" aria-labelledby="v-pills-additional-tab">

                <!-- Other Data -->
                <OtherData :accordionData="accordionData" :nameSpecie="result[0]['TAXONOMIA'].Espècie" />

                <!-- Linaje -->
                <div class="my-3 p-2 grid-item" v-if="result[1].Linaje">
                  <h4 class="fw-bold mb-2 p-1 data_section_key">{{ $t('results.lineage') }}:</h4>
                  <hr class="my-2">

                  <div class="my-3 mx-5" v-if="result[1]">
                    <Linaje :node="transformToHierarchy(result[1].Linaje)" />
                  </div>
                </div>

                <!-- Phylogenetic Tree based on the category of Class -->
                <div v-if="result[0]['TAXONOMIA'].Classe && result[0]['TAXONOMIA'].TaxId">
                  <ClassTree :Classe="result[0]['TAXONOMIA'].Classe" :TaxId="result[0]['TAXONOMIA'].TaxId"
                    :Specie="result[0]['TAXONOMIA'].Espècie" :Family="result[0]['TAXONOMIA'].Família"
                    @treeContainerFound="onTreeContainerFound" ref="treeContainer"></ClassTree>
                </div>
                
                <!-- No hay datos -->
                <div v-if="!result[0]['TAXONOMIA'].Classe && !result[0]['TAXONOMIA'].TaxId && !accordionData[0]">
                  <img class="img-noData my-4" src="@/assets/sin-datos.png" alt="No data">
                  <h6 class="fw-bold">{{ $t('results.noOtherData') }}</h6>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>

  
    </div>

  </div>
</template>

<script>
import { useDatabaseStore } from "@/stores/database";
import Linaje from "@/components/species/TreeNode.vue";
import UICN from "@/components/species/UICNRedList.vue";
import ClassTree from "@/components/species/ClassTree.vue";
import ImageGallery from "@/components/species/ImageGallery.vue";
import OtherData from "@/components/species/OtherData.vue";
import { ref, onMounted, watch } from 'vue';
import { useI18n } from 'vue-i18n'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

export default {
  props: {
    result: Object,
    btnback: Number
  },
  components: {
    Linaje,
    UICN,
    ClassTree,
    ImageGallery,
    OtherData
  },
  setup(props) {
    const databaseStore = useDatabaseStore();
    const { t, locale } = useI18n({ useScope: 'global' })
    const wikipediaData = ref(null);
    const accordionData = ref({});

    const fetchData = async (language) => {
      if (props.result[0]) {
        await databaseStore.fetchWikipediaData(props.result[0]['TAXONOMIA'].Espècie, language);
        wikipediaData.value = databaseStore.wikipediaData;

        // AccordionData
        if (Object.keys(props.result[0]).length > 1) {
          const valuesArray = Object.values(props.result);
          // Filter empty or unwanted items
          accordionData.value = valuesArray.slice(1).filter(item => Object.keys(item).length > 0);
          if (wikipediaData) {
            accordionData.value.push(JSON.parse(JSON.stringify(wikipediaData.value)));
          }
        }
      }
    };

    onMounted(async () => {
      if (databaseStore.wikipediaData && databaseStore.wikipediaData.length === 0) {
        const language = locale.value;
        await fetchData(language);
      } else {
        const language = locale.value;
        await fetchData(language);
      }

      // AccordionData
      if (Object.keys(props.result[0]).length > 1) {
        const valuesArray = Object.values(props.result);
        // Filter empty or unwanted items
        accordionData.value = valuesArray.slice(1).filter(item => Object.keys(item).length > 0);
        if (wikipediaData) {
          accordionData.value.push(JSON.parse(JSON.stringify(wikipediaData.value)));
        }
      }
    });

    // Observa el cambio de idioma y realiza la búsqueda de Wikipedia
    watch(() => locale.value, (newLanguage, oldLanguage) => {
      if (newLanguage !== oldLanguage) {
        fetchData(newLanguage);
      } else {
        const language = locale.value;
        fetchData(language);
      }
    });

    return {
      databaseStore,
      t, locale,
      wikipediaData,
      accordionData,
    }

  },
  mounted() {

    // ----------------------------------------------------------------
    // Defines the new order of the keys
    const new_order = [
      "TAXONOMIA",
      "NOM DE L'AUTOR",
      "ORIGEN I ENDEMISME",
      "SITUACIÓ",
      "LEGISLACIÓ",
      "ESTUDIS",
      "CARACTERÍSTIQUES",
      "ECOLOGIA",
      "INFORMACIÓ COMPLEMENTÀRIA"
    ];

    // ----------------------------------------------------------------
    // Rearrange data when starting component
    this.result[0] = this.reorderData(this.result[0], new_order);
  },

  methods: {
    /**
     * Compares a string to check if it begins with 'UICN' or 'iucn'.
     * @param {string} value - The string to be compared.
     * @returns {boolean} - Returns true if the string starts with 'UICN' or 'iucn', otherwise false.
     */
    compareUICN(value) {
      const regex = /^(UICN|iucn)/;
      return regex.test(value);
    },
    // ----------------------------------------------------------------
    // Display the object depending on whether it has content or not.
    shouldDisplay(value) {
      for (const val of Object.values(value)) {
        if (val !== null && val !== '') {
          return true;
        }
      }
      return false;
    },
    // ----------------------------------------------------------------
    // Create hierarchical structure for the lineage
    transformToHierarchy(dataString) {
      const nodes = dataString.split(';').map(node => node.trim()).filter(node => node !== '');
      let hierarchy = {};
      let currentNode = hierarchy;

      for (const node of nodes) {
        currentNode.name = node;
        if (nodes.indexOf(node) !== nodes.length - 1) {
          // If it is not the last node, create a new child node.
          currentNode.children = [{ name: '' }];
          currentNode = currentNode.children[0];
        } else {
          // If it is the last node, don't create any more children
          currentNode.children = [];
        }
      }
      return hierarchy;
    },
    // ----------------------------------------------------------------
    // Reorder Database Objects
    reorderData(object, new_order) {
      const result = {};
      new_order.forEach((key) => {
        if (object.hasOwnProperty(key)) {
          result[key] = object[key];
        }
      });
      return result;
    },
  },
  computed: {
    currentLanguage() {
      return this.$i18n.locale;
    },
  },

}
</script>

<style >

.container {
  margin-top: 20px;
}

.nav-pills .nav-link {
  border-radius: 0;
  background-color: #ffffff;
  color: grey;
  display: flex;
  align-items: center;
}

.nav-pills .nav-link font-awesome-icon {
  margin-right: 8px;
  color: grey;
}

.nav-pills .nav-link.active {
  background-color: #ffffff;
  border-left: 3px solid #4F7451;
  color: #4F7451;
}

.nav-pills .nav-link.active font-awesome-icon {
  color: #4F7451;
}

.link {
  text-decoration: none;
}

.link:hover {
  opacity: 0.75;
}

.small-icon {
  font-size: 0.70em;
  vertical-align: middle;
  line-height: 1;
  margin-bottom: 4px;
}

.btn-back {
  text-align: left;
}

.btn-back-h:hover {
  margin-left: 10px;
}

.div-info-db {
  text-align: left;
}

.data_section {
  background-color: #CED8CF;
}

.data_section_key {
  color: #4F7451;
  text-align: left;
}


.grid-container {
  display: grid;
  gap: 16px;
}

.grid-item {
  background: #f9f9f9;
  padding: 14px;
  border-radius: 8px;
}
</style>