<template>
    <div>

        <div v-if="isLoading" class="text-center">
            <div class="spinner-border text-success" role="status">
                <span class="visually-hidden">{{ $t("species.carregant") }}</span>
            </div>
        </div>
        <div class="filter-container">
            <div class="row">
                <!-- Left column for pagination -->
                <div class="col-auto">
                    <div class="pagination-buttons">
                        <button class="btn btn-outline-secondary" @click="previousPage"
                            :disabled="currentPage == 1">&lt;</button>
                        <p>{{ currentPage }} / {{ totalPages }}</p>
                        <button class="btn btn-outline-secondary" @click="nextPage"
                            :disabled="currentPage == totalPages">&gt;</button>
                    </div>
                </div>

                <!-- Right column for filtered result count and download dropdown -->
                <div class="col d-flex justify-content-end">
                    <div class=" mr-3 pagination-buttons">
                        <p v-if="count === null">
                            <font-awesome-icon :icon="['fas', 'spinner']" spin style="color: #3c653e;" />
                            {{ $t("species.carregant") }}
                        </p>
                        <p v-else>
                            {{ count }} {{ $t("species.speciescounter") }} {{ all }}
                        </p>
                    </div>

                    <div class="dropdown">
                        <button @click="toggleDownload" class="btn btn-success download-btn" type="button"
                            id="downloadDropdown" data-bs-toggle="dropdown" aria-expanded="false"
                            :disabled="isSpeciesEmpty">
                            <font-awesome-icon :icon="['fas', 'file-arrow-down']" size="xl" style="color: #ffffff;"
                                :class="{ 'first-flip': firstFlip, 'second-flip': secondFlip }" />
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="downloadDropdown">
                            <li><a class="dropdown-item" @click="downloadTable('csv')">{{ $t("species.descarrega") }}
                                    CSV</a></li>
                            <li><a class="dropdown-item" @click="downloadTable('excel')">{{ $t("species.descarrega") }}
                                    Excel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-auto col-table-editable">
                    <div class="edit-table">
                        <button type="button" class="btn btn-table-editable" data-container="body"
                        data-toggle="popover" data-placement="bottom" @click="openTableConfiguration">
                            {{ $t("species.editTable") }}
                        </button>
                        <div v-if="isEditTableVisible" @click.stop class="popover-wrapper">
                            <div class="popover-header">
                                <span>{{ $t("species.visibleColumns") }}</span>
                                
                            </div>
                            <div class="popover-content">
                                <div v-for="header in headersApplies" :key="header.name" class="popover-item">
                                    <div class="w-100">
                                        <label class="form-check-label container-check" :for="header.name"
                                        :class="[!header.isEditable?'disabled-check':'']">
                                            {{ header.name }}
                                            <input class="form-check-input" type="checkbox" 
                                                :id="header.name"
                                                :disabled="!header.isEditable??false"
                                                v-model="header.isVisible" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="popover-footer">
                                <button type="button" class="btn btn-popover-apply" @click="applyTableColumns">
                                    {{ $t("species.applyChanges") }}
                                </button>
                                <button type="button" class="btn btn-popover-close" @click="closeTableColumns">
                                    {{ $t("species.close") }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="table-responsive">
            <table v-if="!isLoading" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th v-for="header in filteredHeaders" :key="header.name" @click="toggleSort(header.name)"
                            :class="{ 'active': loading }">
    
                            <div v-if="header.name === 'TaxId'" class="taxcol">
                                {{ header.name }}
                                <span v-if="sortColumn.name === header.name" class="arrow"
                                    :class="{ 'asc': sortDirection === 'asc', 'desc': sortDirection === 'desc' }"></span>
                            </div>
                            <div v-else-if="header.isVisible">
                                {{ header.name }}
                                <span v-if="sortColumn.name === header.name" class="arrow"
                                    :class="{ 'asc': sortDirection === 'asc', 'desc': sortDirection === 'desc' }"></span>
                            </div>
    
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(species, index) in sortedAndPaginatedSpecies" :key="index" class="species-link">
                        <td v-for="header in filteredHeaders" :key="header.name"
                            :style="{ 'font-style': header.name === 'Espècie' || header.name === 'Especie' || header.name === 'Species' ? 'italic' : 'normal' }">
                            <template v-if="header.name === 'Espècie' || header.name === 'Especie' || header.name === 'Species'">
                                <a @click="handleSpeciesSelected(species[headerMapping[header.name]])">
                                    <div class="species-info">
                                        <span class="species-name">{{ species[headerMapping[header.name]] || 'N/D'
                                            }}</span>
                                        <font-awesome-icon :icon="faCaretRight" bounce style="color: #000000;"
                                            class="link-icon" />
                                    </div>
                                </a>
                            </template>
                            <template v-else-if="header.name === 'Autor' || header.name === 'Author'">
                                {{ species[headerMapping[header.name]] || 'N/D' }}
                            </template>
                            <template v-else>
                                <div v-if="header === 'TaxId'" class="taxcol">
                                    {{ species[headerMapping[header.name]] || 'N/D' }}
                                </div>
                                <div v-else-if="header.isVisible">
                                    {{ species[headerMapping[header.name]] || 'N/D' }}
                                </div>
                            </template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <Pagination v-if="!isLoading && totalPages > 1" :currentPage="currentPage" :totalPages="totalPages"
                @pageChange="handlePageChange" @itPerPage="handleLocalStorageItemsPerPageChange"
                style="margin-left: 3%;" />

        </div>
    </div>
</template>

<script>
import { computed, ref, watch, toRef } from 'vue';
import * as XLSX from 'xlsx';
import { faCaretRight } from '@fortawesome/free-solid-svg-icons';
import Pagination from "@/components/Pagination.vue";
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { useI18n } from 'vue-i18n'

export default {
    props: {
        speciesArray: {
            type: Array,
            required: true,
        },
        count: {
            type: Number,
            required: true,
        },
        isLoading: {
            type: Boolean,
            default: false,
        },
        headers: {
            type: Array,
            required: true,
        },
        all: {
            type: Number,
            required: true,
        }
    },
    components: {
        Pagination, FontAwesomeIcon
    },
    watch: {
        speciesArray: {
            immediate: true, // trigger on component mount
            handler(newVal, oldVal) {
                if (oldVal !== undefined && newVal.length !== oldVal.length) {
                    // Reset to page 1 when the content changes
                    this.currentPage = 1;
                }
            },
        },
        headers: {
            immediate: true,
            deep: true,
            handler(newVal, oldVal) {
                if (newVal && newVal.length >= 4) {
                    this.sortColumn = newVal[3];
                }
            },
        },
    },
    setup(props, { emit }) {
        const { t, locale } = useI18n({ useScope: 'global' })
        const localStorageItemsPerPage = ref(parseInt(localStorage.getItem('itemPerPage')) || 25);
        const currentPage = ref(parseInt(localStorage.getItem('currentPage')) || 1);
        const headerMapping = ref({
            'Espècie': 'Espècie',
            'Especie': 'Espècie',
            'Species': 'Espècie',
            'Regne': 'Regne',
            'Reino': 'Regne',
            'Kingdom': 'Regne',
            'TaxId': 'TaxId',
            'Class': 'Classe',
            'Clase': 'Classe',
            'Classe': 'Classe',
            'Family': 'Família',
            'Família': 'Família',
            'Familia': 'Família',
            'Divisió': 'Divisió',
            'División': 'Divisió',
            'Division': 'Divisió',
            'Ordre': 'Ordre',
            'Orden': 'Ordre',
            'Order': 'Ordre',
            'Autor': 'Autor',
            'Author': 'Autor'
        });
        const totalPages = computed(() => Math.ceil(props.speciesArray.length / localStorageItemsPerPage.value));
        const getSelectedClass = computed(() => (option) => {
            return { 'selected': localStorageItemsPerPage.value == option };
        });
        // Get the paginated species data based on the current page
        const paginatedSpecies = computed(() => {
            const start = (currentPage.value - 1) * localStorageItemsPerPage.value;
            const end = start + localStorageItemsPerPage.value;
            return props.speciesArray.slice(start, end);
        });

        // Handle page change
        const handlePageChange = (page) => {
            currentPage.value = page;
            localStorage.setItem('currentPage', JSON.stringify(currentPage.value));
        };
        const handleLocalStorageItemsPerPageChange = (value) => {
            localStorageItemsPerPage.value = value;
            localStorage.setItem('itemPerPage', JSON.stringify(localStorageItemsPerPage.value));
        };

        // Emit the "species-selected" event when a species is clicked
        const handleSpeciesSelected = (species) => {
            emit('species-selected', species);
        };

        const generateCSVContent = () => {
            let activeHeaders = props.headers.filter(header => header.isVisible);
            let headerString = activeHeaders.map(h => h.name).join(';');
            const headerRow = [headerString, 'Gbif ID', 'Gbif UICN'].join(';');
            const dataRows = props.allSpecies.map(species => {
                const taxonomiaData = activeHeaders.map(h => {
                    if(h.isVisible) {
                        if(h.name === 'Autor' || h.name === 'Author') {
                            return species[headerMapping.value[h.name]] || 'N/D';
                        }
                        return species[headerMapping.value[h.name]] || 'N/D';
                    }
                });
                const gbifData = species['GbifId'] || 'N/D';
                const gbifUICN = species['UICN GBIF'] || 'N/D';
                return [...taxonomiaData, gbifData, gbifUICN].join(';');
            });
            return [headerRow, ...dataRows].join('\n');
        };

        const generateExcelContent = () => {
            let activeHeaders = props.headers.filter(header => header.isVisible);
            let headerString = activeHeaders.map(h => h.name);
            const header = [...headerString, 'Gbif ID', 'Gbif UICN'];
            const data = props.allSpecies.map(species => {
                const taxonomiaData = activeHeaders.map(h => {
                    if(h.isVisible) {
                        if(h.name === 'Autor' || h.name === 'Author') {
                            return species[headerMapping.value[h.name]] || 'N/D';
                        }
                        return species[headerMapping.value[h.name]] || 'N/D';
                    }
                });
                const gbifData = species['GbifId'] || 'N/D';
                const gbifUICN = species['UICN GBIF'] || 'N/D';
                return [...taxonomiaData, gbifData, gbifUICN];
            });

            const ws = XLSX.utils.aoa_to_sheet([header, ...data]);
            const wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, 'Sheet 1');

            const excelBuffer = XLSX.write(wb, { bookType: 'xlsx', type: 'array' });

            return excelBuffer;
        };

        const downloadTableCSV = () => {
            const content = generateCSVContent();
            const blob = new Blob([content], { type: 'text/csv' });
            const link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = t('species.downloadTable') + ".csv";
            link.click();
        };

        const downloadTableExcel = () => {
            const content = generateExcelContent();
            const blob = new Blob([content], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
            const link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = t('species.downloadTable') + ".xlsx";
            link.click();
        };

        const downloadTable = (format) => {
            if (format === 'csv') {
                downloadTableCSV();
            } else if (format === 'excel') {
                downloadTableExcel();
            }
        };

        const sortColumn = ref('Espècie');
        const sortDirection = ref('asc');

        const sortedAndPaginatedSpecies = computed(() => {
            const start = (currentPage.value - 1) * localStorageItemsPerPage.value;
            const end = start + localStorageItemsPerPage.value;

            if (!sortColumn.value) {
                return paginatedSpecies.value.slice();
            }

            const sorted = props.speciesArray.slice().sort((a, b) => {
                const aValue = getColumnValue(a, sortColumn.value);
                const bValue = getColumnValue(b, sortColumn.value);

                if (sortColumn.value === 'TaxId') {
                    return compareTaxIds(aValue, bValue);
                } else {
                    return sortDirection.value === 'asc' ? aValue.localeCompare(bValue) : bValue.localeCompare(aValue);
                }
            });

            return sorted.slice(start, end);
        });

        const getColumnValue = (item, column) => {
            // Use headerMapping.value to access the object
            const dataKey = headerMapping.value[column.name];
            return item[dataKey] || '';
        };

        const compareTaxIds = (aValue, bValue) => {
            if (aValue === 'N/D' && bValue === 'N/D') {
                return 0;
            } else if (aValue === 'N/D') {
                return -1;
            } else if (bValue === 'N/D') {
                return 1;
            } else {
                const numericA = parseFloat(aValue);
                const numericB = parseFloat(bValue);

                if (!isNaN(numericA) && !isNaN(numericB)) {
                    return sortDirection.value === 'asc' ? numericA - numericB : numericB - numericA;
                } else {
                    return sortDirection.value === 'asc' ? aValue.localeCompare(bValue) : bValue.localeCompare(aValue);
                }
            }
        };

        const allSpeciesRef = toRef(props, 'speciesArray');

        watch([allSpeciesRef, localStorageItemsPerPage], () => {
            const start = (currentPage.value - 1) * localStorageItemsPerPage.value;
            const end = start + localStorageItemsPerPage.value;
            paginatedSpecies.value = allSpeciesRef.value.slice(start, end);

            if (currentPage.value > totalPages.value) {
                currentPage.value = totalPages.value;
            }
        });

        const setItemsPerPage = (value) => {
            localStorageItemsPerPage.value = value;
            currentPage.value = 1;
            localStorage.setItem('itemPerPageSearch', JSON.stringify(localStorageItemsPerPage.value));
        };

        return {
            headerMapping,
            paginatedSpecies,
            currentPage,
            totalPages,
            handlePageChange,
            faCaretRight,
            handleSpeciesSelected,
            handleLocalStorageItemsPerPageChange,
            localStorageItemsPerPage,
            downloadTable,
            sortColumn,
            sortDirection,
            sortedAndPaginatedSpecies,
            setItemsPerPage,
            getSelectedClass,
            headersApplies: props.headers.map(x => ({...x})),
            filteredHeaders: computed(() => {
                return props.headers.filter(header => header.isVisible)
            })
        }
    },

    data() {
        return {
            firstFlip: false,
            secondFlip: false,
            loading: false,
            isEditTableVisible: false
        };
    },

    methods: {
        toggleDownload() {
            this.firstFlip = true;
            this.secondFlip = true;

            setTimeout(() => {
                this.firstFlip = false;
                this.secondFlip = false;
            }, 1200);
        },

        toggleSort(column) {
            this.loading = true;
            this.sortColumn = column;
            this.sortDirection = this.sortDirection === 'asc' ? 'desc' : 'asc';
            this.loading = false;
        },
        previousPage() {
            if (this.currentPage > 1) {
                this.currentPage = this.currentPage - 1;
                localStorage.setItem('currentPage', JSON.stringify(this.currentPage));
            }
        },
        nextPage() {
            if (this.currentPage < this.totalPages) {
                this.currentPage = this.currentPage + 1;
                localStorage.setItem('currentPage', JSON.stringify(this.currentPage));
            }
        },
        openTableConfiguration() {
            this.isEditTableVisible = !this.isEditTableVisible;
        },

        applyTableColumns() {
            this.$emit('update-headers', this.headersApplies);
            this.isEditTableVisible = false;
        },

        closeTableColumns() {
            this.isEditTableVisible = false;
            this.headersApplies = this.headers.map(x => ({...x})); // reset
        }
    },
    computed: {
        isSpeciesEmpty() {
            return this.speciesArray.length === 0;
        }
    },
};
</script>

<style scoped>
th {
    background-color: #3C653E;
    color: #FFFFFF;
    position: relative;
    cursor: pointer;
}

th .asc,
th .desc {
    font-size: 12px;
    margin-left: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.asc::after {
    content: '\25B2';
    /* Unicode character for up arrow */
}

.desc::after {
    content: '\25BC';
    /* Unicode character for down arrow */
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
    cursor: pointer;
}



/* Hide the icon by default */
a .link-icon {
    display: none;
}

/* Show the icon when hovering over the row */
tr.species-link:hover .link-icon {
    display: inline-block;
    margin-left: 10px;
    /* Separate the icon from the text */
}

/* Change the text color to blue when hovering over the row */
.species-link:hover .species-info {
    color: #007bff;
}


/* Add this style to customize the color of the download button */
.btn-success {
    background-color: #3C653E;
    border-color: #3C653E;
}

/* Add this style for the first flip animation */
.first-flip {
    transform: rotateY(180deg);
    transition: transform 1s ease-in-out;
}

/* Add this style for the second flip animation */
.second-flip {
    transform: rotateY(360deg);
    transition: transform 1s ease-in-out;
}

/* Add this style for ascending and descending arrows */
th span {
    font-size: 12px;
    margin-left: 5px;
}

.asc {
    transform: rotate(180deg);
}

.desc {
    transform: rotate(0deg);
}

.active {
    cursor: wait;
}

.items-per-page-container {
    display: flex;
    align-items: center;
}

.selected {
    background-color: #3C653E;
    color: #ffffff;
    border-color: #3C653E;
}

.taxcol {
    margin-right: 15px;
}

.pagination-buttons {
    display: flex;
    align-items: center;
}

.pagination-buttons p {
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-outline-secondary {
    color: #3C653E;
    border-color: lightgray;

}

.btn-outline-secondary:hover {
    background-color: rgb(238, 236, 236);
    color: rgb(48, 47, 47);
}

.btn-outline-secondary:disabled {
    background-color: lightgray;
    color: rgb(48, 47, 47);
}
.popover {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    background: #fff;
    color: #3794ff;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.edit-table {
    position: relative;
}

.popover-wrapper {
    position: absolute;
    right: 20px;
    background: white;
    border-radius: 6px;
    margin-top: 4px;
    padding: 16px;
    color: #333;
    min-width: 200px;
    text-align: left;
    z-index: 10;
    border: 1px solid #ccc;
}

.popover-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.popover-wrapper::before {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ccc;
    display: block;
}

.popover-wrapper::after {
    content: "";
    position: absolute;
    top: -14px;
    right: 25px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    border-top: none;
    display: block;
    width: 0;
    z-index: 1;
}

.popover-header {
    padding-bottom: 18px;
    font-weight: 600;
}

.popover-header span {
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: inline-block;
    padding-bottom: 2px;
}

.popover-footer {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}

.popover-item:nth-child(odd) {
    padding-right: 40px;
}

.col-table-editable {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.btn-table-editable {
    background-color: transparent;
    color: #3C653E;
    font-weight: 600;
}

.btn-popover-close {
    background-color: transparent;
    color: #3C653E;
}

.btn-popover-apply {
    background-color: white;
    border: 1px solid #3C653E;
}

.btn-popover-apply:hover {
    background-color: #3C653E;
    color: white;
}

.container-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.container-check :hover input ~ .checkmark {
    background-color: #ccc;
}

.container-check input:checked ~ .checkmark {
    background-color: #3C653E;
    border-radius: .2rem;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    font-size: 20px;
}

.container-check input:checked ~ .checkmark:after {
    display: block;
}

.container-check .checkmark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.disabled-check span {
    opacity: 0.5;
}
</style>