
<template>
  <div class="div-linaje">
    <h5 class="fw-bold node mb-0">
      <span @click="toggleCollapse">{{ isExpanded ? ' &#8627; ' : ' &#43;' }}
        {{ node.name }} 
      </span> 


    </h5>
    <div v-if="isExpanded">
      <div v-for="child in node.children" :key="child.name">
        <tree-node class="ms-4" :node="child" :is-expanded="isExpanded" @collapse-all="collapseAll"></tree-node>
      </div>
    </div>
  </div>

</template>


<script>

export default {
  props: {
    node: Object,
  },
  data() {
    return {
      isExpanded: Boolean,
    };
  },
  methods: {
    toggleCollapse() {
      this.isExpanded = !this.isExpanded;
    },
    collapseAll(isExpanded) {
      this.isExpanded = isExpanded;
    },
  },
};
</script>

<style scoped>
.div-linaje {
  text-align: left;
  /* margin-left: 0.4em; */
  color: #1E331F;
  cursor: pointer;
}

.node:hover{
  color: #6D8C6E;
  margin-left: 10px;
}


/* Estilo para pantallas de teléfono */
@media screen and (max-width: 768px) {
  .div-linaje {
    margin-left: 0.3em;
  }
}

/* Estilo para monitores más grandes */
@media screen and (min-width: 1000px) {
  .div-linaje {
    margin-left: 0.4em;
  }
}


</style>