<template>
    <a-popover v-model:open="open" trigger="hover" placement="bottomLeft">
    <template #content>
      <div class="px-1 pt-2">
        <h6 class="fw-bold py-1"> {{ $t('uicn.title') }}</h6>
        <ul class="uicn-text">
          <li>{{ $t('uicn.EX') }}</li>
          <li>{{ $t('uicn.EW') }}</li>
          <li>{{ $t('uicn.CR') }}</li>
          <li>{{ $t('uicn.EN') }}</li>
          <li>{{ $t('uicn.VU') }}</li>
          <li>{{ $t('uicn.NT') }}</li>
          <li>{{ $t('uicn.LC') }}</li>
          <li>{{ $t('uicn.DD') }}</li>
          <li>{{ $t('uicn.NE') }}</li>
        </ul>
      </div>
      
    </template>
    <a class="categories"> {{ ' '+Llegenda }}</a>
  </a-popover>
</template>


<script>
import { defineComponent, ref } from 'vue';
export default {
  props: {
    Llegenda: String,
  },
  setup() {
    const open = ref(false);
    return {
      open
    };
  },
};
</script>


<style scoped>
.categories {
  font-style: italic;
  text-decoration: none;
}

.uicn-text {
  font-family: 'Courier New';
}
</style>