<template>
	<div v-if="isMessageVisible" class="maintenance-notice">
		<div class="maintenance-notice__box">
			<font-awesome-icon :icon="['fas', 'triangle-exclamation']" />		
			Si us plau, tingueu en compte que realitzarem el manteniment rutinari del servidor des de
			<b>del 5 al 7 d'agost</b>. <br />Durant aquest període, és possible que experimenteu
			interrupcions temporals. Demanem disculpes per les molèsties i agraïm
			la teva comprensió.
		</div>
	</div>
</template>
<script>
export default {
	name: 'MaintenanceNotice',
	computed: {
		isMessageVisible() {
			const dateRange = {
				start: new Date('2024-07-31'),
				end: new Date('2024-08-07'),
			};

			if (new Date() >= dateRange.start && new Date() <= dateRange.end) {
				return true;
			}
			return false;
		},
	},
};
</script>
<style scoped>
.maintenance-notice {
	padding: 50px 30px 0;
}

.maintenance-notice__box {
	background-color: #f8f8f8;
	border: 1px solid #c6d8e9;
	border-radius: 5px;
	padding: 20px;
}
</style>
